@import "../../style/variables.scss";

.dropdown {
  position: relative;
  width: 100%;
  background: #ffffff;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;

  &_opened {
    & .dropdown__input {
      border-color: rgba(31, 32, 65, 0.5);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    & .dropdown__list {
      display: block;
    }
  }

  &__text-field {
    position: relative;
  }

  &__input {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 2px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    color: rgba(31, 32, 65, 0.75);
    cursor: pointer;
    padding: 0 44px 0 15px;

    &:hover,
    &:focus {
      border-color: rgba(31, 32, 65, 0.5);
      outline: none;
    }
  }

  &__toggle-button {
    position: absolute;
    height: 100%;
    width: 44px;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background: no-repeat url(./img/toggle-button-off.svg) center center;
  }

  &__list {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: white;
    padding: 7px 7px 0 15px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top: none;
    border-radius: 0 0 2px 2px;
    display: none;
  }

  &__item {
    list-style: none;
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item-name {
    margin-right: auto;
  }

  &__counter {
    display: block;
    width: 32px;
    text-align: center;
    flex-shrink: 0;

    &-button {
      flex-shrink: 0;
      border: 1px solid rgba(31, 32, 65, 0.25);
      background: white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: rgba(31, 32, 65, 0.5);

      &_disabled {
        opacity: 0.38;
      }
    }
  }
}
