//-
  options.type - тип dropdown принимает значения rooms или guests
  options.counters - значения счетчиков передается массивом из целых положительных чисел [1, 3, 7]
  options.isOpened - открытый или закрытый dropdown boolean

mixin dropdown(options)

  if options.type === 'rooms'
    - 
      var component = {
        placeholder: 'Сколько комнат',
        items: ['спальни', 'кровати', 'ванные комнаты'], 
        dropdownClass: 'js-dropdown_rooms'
      }
  else if options.type === 'guests'
    - var component = {}

  if !options.counters
    - options.counters = [0, 0, 0]

  if !options.isOpened
    - options.isOpened = false

  .dropdown(class=component.dropdownClass)
    .dropdown__text-field.js-dropdown__text-field
      input.dropdown__input.js-dropdown__input(placeholder=component.placeholder readonly)
      .dropdown__toggle-button
    ul.dropdown__list.js-dropdown__list(
      class =  options.isOpened ? 'js-dropdown__list_open' : ''
    )
      each item, i in component.items 
        li.dropdown__item
          span.dropdown__item-name.js-dropdown__item-name= item 
          .dropdown__counter
            button.dropdown__counter-button.js-dropdown__counter-button-minus -
            span.dropdown__counter-value.js-dropdown__counter-value= options.counters[i] || 0
            button.dropdown__counter-button.js-dropdown__counter-button-plus +
