extends ../../templates/website-pages

include ../../components/icon-text-list/icon-text-list
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/room-booking/room-booking
include ../../components/title/title
include ../../components/gallery/gallery
include ../../components/container/container
include ../../components/wrapper/wrapper
include ../../components/row/row

block title
  | Search room

block main
  //- +box
    +gallery
  +wrapper({marginTop: 70})
    +container
      +row({justifyContent: 'space-between'})
        +wrapper({basis: 712})
          +row({justifyContent: 'space-between'})
            +wrapper({basis: 291})
              +title({text: 'Сведения о номере', type: 'h3'})
              +wrapper({marginTop: 20})
                +icon-text-list
            +title({text: 'Впечатления от номера', type: 'h3'})
          +wrapper({marginTop: 34})
            +title({text: 'Отзывы посетителей номера', type: 'h3'})
          +wrapper({marginTop: 23})
            +comment 
          +wrapper({marginTop: 23})
            +comment
          +wrapper({marginTop: 30})
            +row
              +wrapper
                +wrapper({marginBottom: 20, marginLeft: 20})
                  +title({text: 'Правила', type: 'h3'})
                +bullet-list
              +wrapper({width: 341})
                +wrapper({marginBottom: 20})
                  +title({text: 'Отмена', type: 'h3'})
                p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

        +wrapper({basis: 380})
          +room-booking
