@import '../../style/variables';

.room-details {
  &__content-block {
    margin: 70px 0;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down($lg) {
      flex-direction: column;
    }
  }

  &__content-column {
    flex-basis: 712px;
  }

  &__room-statistic-wrapper {
    display: flex;
    gap: 80px;
  }

  &__icon-text-list-wrapper {
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &__pie-chart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &__comments-title-wrapper {
    margin-top: 16px;
    padding-left: 21px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: rgba($color-first, 0.75);
  }

  &__comments-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  &__rules-wrapper {
    display: flex;
    margin-top: 35px;
    gap: 101px;
  }

  &__bullet-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 260px;
  }

  &__bullet-list-title-wrapper {
    padding-left: 20px;
  }

  &__reset-wrapper {
    flex-basis: 341px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__room-booking-wrapper {
    flex-basis: 380px;
  }
}
