extends ../../templates/website-pages/website-pages

include ../../components/icon-text-list/icon-text-list
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/room-booking/room-booking
include ../../components/title/title
include ../../components/gallery/gallery
include ../../components/container/container
include ../../components/pie-chart/pie-chart

block title
  | Room details

block main
  - const {comments, iconTextLists, gallarys, titles, bulletLists} = require('./data.json')

  .room-details
    +gallery(gallarys[0])
    +container
      .room-details__content-block
        .room-details__content-column
          .room-details__room-statistic-wrapper
            .room-details__icon-text-list-wrapper
              +title(titles[0])
              +icon-text-list(iconTextLists[0])
            .room-details__pie-chart-wrapper
              +title(titles[1])
              +pie-chart
          .room-details__comments-title-wrapper       
            +title(titles[2])
            span.room-details__text 2 отзыва
          .room-details__comments-wrapper
            +comment(comments[0]) 
            +comment(comments[1])
          .room-details__rules-wrapper
            .room-details__bullet-list-wrapper
              .room-details__bullet-list-title-wrapper
                +title(titles[3])
              +bullet-list(bulletLists[0])
            .room-details__reset-wrapper
              +title(titles[4])
              p.room-details__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

        .room-details__room-booking-wrapper
          +room-booking
