extends ../../templates/website-pages/website-pages

include ../../components/icon-text-list/icon-text-list
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/room-booking/room-booking
include ../../components/title/title
include ../../components/gallery/gallery
include ../../components/container/container
include ../../components/pie-chart/pie-chart

block title
  | Room details

block main
  - const {comments, iconTextLists, gallarys} = require('./data.json')

  .room-details
    +gallery(gallarys[0])
    +container
      .room-details__content-block
        .room-details__column
          .room-details__mini-info-about-room
            .room-details__icon-text-list
              +title({text: 'Сведения о номере', type: 'h3'})
                +icon-text-list(iconTextLists[0])
            .room-details__pie-chart
              +title({text: 'Впечатления от номера', type: 'h3'})
                +pie-chart
          .room-details__review-title       
            .room-details__wrapper-review-title
              +title({text: 'Отзывы посетителей номера', type: 'h3'})
            span.p-room-details__review 2 отзыва
          .room-details__first-comment-wrapper
            +comment(comments[0]) 
          .room-details__second-comment-wrapper
            +comment(comments[1])
          .room-details__rules
            .room-details__bullet-list-title-wrapper
              +title({text: 'Правила', type: 'h3'})
            +bullet-list
            .room-details__wrapper-reset-text
              +title({text: 'Отмена', type: 'h3'})
              p.room-details__reset-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

        .room-details__room-booking-wrapper
          +room-booking
