extends ../../templates/website-pages/website-pages

include ../../components/icon-text-list/icon-text-list
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/room-booking/room-booking
include ../../components/title/title
include ../../components/gallery/gallery
include ../../components/container/container
include ../../components/pie-chart/pie-chart

block title
  | Room details

block main
  -
    const {
      comments, 
      iconTextList, 
      gallery, 
      titles, 
      bulletList,
      resetText,
      pieChart
    } = require('./data.json')

  .room-details
    +gallery(gallery)
    +container
      .room-details__content-block
        .room-details__content-column
          .room-details__room-statistic
            .room-details__icon-text-list
              +title(titles.aboutNumber)
              +icon-text-list(iconTextList)
            .room-details__pie-chart
              +title(titles.roomImpression)
              +pie-chart(pieChart)
          .room-details__comments-title
            +title(titles.reviewNumber)
            span.room-details__text 2 отзыва
          .room-details__comments
            each comment in comments
              +comment(comment) 
          .room-details__rules
            .room-details__bullet-list
              +title(titles.rules)
              +bullet-list(bulletList)
            .room-details__reset
              +title(titles.reset)
              p.room-details__text= resetText

        .room-details__room-booking
          +room-booking
