mixin pagination
  .pagination.js-pagination
    .pagination__plugin.js-pagination__plugin
    .pagination__text
      span.pagination__start-item.js-pagination__start-item 
      = " – "
      span.pagination__end-item.js-pagination__end-item 
      = " из 100+ вариантов аренды"
