@use '@style/constants/colors';

.pagination {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &__buttons {
    position: relative;
  }

  &__text {
    padding-top: 7px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(colors.$first, 0.75);
  }
}
