mixin pagination(options)
  -
    const {
      count = 0,
    } = options || {}

    const {
      numberOfOptions,
    } = require('@components/pagination/data.json')

  .pagination.js-pagination(data-count=count)
    .pagination__plugin.js-pagination__plugin
    .pagination__text
      span.pagination__range.js-pagination__range
      = numberOfOptions
