@use '@style/constants/colors';
@use '@style/constants/mixins';

.pagination {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &__text {
    @include mixins.body;
    padding-top: 7px;
    color: rgb(colors.$first, 0.75);
  }
}
