extends ../../templates/website-pages/website-pages

include ../../components/find-room/find-room
include ../../components/typography/typography

block var
  -
    const description = 'Приступить к поиску номера';
    const keywords = 'отель, лучшие номера, поиск номера';

block title
  | Landing page

block main
  -
    const {
      text,
    } = require('./data.json')

  .landing-page
    .landing-page__container
      .landing-page__form-row
        .landing-page__form-wrapper
          +find-room
      .landing-page__text-row
        .landing-page__text
          +typography({text, variant: 'body'})
