@import 'Style/variables';

.landing-page {
  height: 100%;
  background: no-repeat center center url(Images/content/landing-page-background.png);
  background-size: cover;

  &__form-row {
    padding-top: 70px;
    display: flex;

    @include media-breakpoint-down($lg) {
      justify-content: center;
    }
  }

  &__form-wrapper {
    width: 380px;
  }

  &__text-row {
    display: flex;
    justify-content: end;
    padding-top: 316px;
    padding-bottom: 22px;

    @include media-breakpoint-down($lg) {
      justify-content: center;
    }
  }

  &__text {
    width: 265px;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgba($color-first, 0.75);

    @include media-breakpoint-down($lg) {
      text-align: center;
    }

    @include media-breakpoint-down($md) {
      margin-top: 50px;
    }
  }
}
