extends ../../templates/website-pages/website-pages

include ../../components/find-room/find-room

block title
  | Landing page

block main
  .landing-page
    .landing-page__container
      .landing-page__form-wrapper
        +find-room
      .landing-page__text-row
        p.p-landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
