@use '@style/constants/colors';
@use '@style/constants/mixins';
@use '@style/constants/display-sizes';

.landing-page {
  height: 100%;
  background: url('@images/content/landing-page-background.png') no-repeat;
  background-size: cover;

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 5px;
  }

  &__form-row {
    padding-top: 70px;
    display: flex;
  }

  &__form-wrapper {
    width: 380px;
  }

  &__text-row {
    display: flex;
    justify-content: end;
    padding-top: 316px;
    padding-bottom: 22px;
  }

  &__text {
    width: 265px;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgb(colors.$first, 0.75);
    margin: 0;
    word-break: break-word;
  }
}

@include mixins.media-breakpoint-down(display-sizes.$lg) {
  .landing-page {
    &__container {
      padding: 0 20px;
    }

    &__form-row {
      justify-content: center;
    }

    &__text-row {
      justify-content: center;
    }

    &__text {
      text-align: center;
    }
  }
}

@include mixins.media-breakpoint-down(display-sizes.$md) {
  .landing-page {
    &__text {
      margin-top: 50px;
    }
  }
}

@include mixins.media-breakpoint-down(display-sizes.$sm) {
  .landing-page {
    &__container {
      padding: 0 10px;
    }
  }
}
