extends ../../templates/website-pages

include ../../components/find-room/find-room
include ../../components/container/container
include ../../components/row/row

block title
  | Landing page

block main
  +container
    +row
      +find-room
    +row
      p Лучшие номера для вашей работы, отдыха и просто вдохновения
