extends ../../templates/website-pages

include ../../components/find-room/find-room
include ../../components/container/container
include ../../components/row/row
include ../../components/box/box

block title
  | Landing page

block main
  +container
    +row
      +box
        +find-room
    +row
      +box
        p Лучшие номера для вашей работы, отдыха и просто вдохновения
