extends ../../templates/website-pages/website-pages

include ../../components/find-room/find-room
include ../../components/container/container

block title
  | Landing page

block main
  .landing-page
    +container
      .landing-page__form-row
        .landing-page__form-wrapper
          +find-room
      .landing-page__text-row
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
