include ../label/label

mixin dropdown-list(options)
  - 
    const {
      title = '',
      isOpened = false
    } = options || {}

    let classes = ''
    classes += isOpened ? ' dropdown-list_opened' : ''

  .dropdown-list.js-dropdown-list(class=classes)
    .dropdown-list__header 
      +label({title})
      button.dropdown-list__button.js-dropdown-list__button.material-icons expand_more
    .dropdown-list__menu
      block

