@use 'Style/constants/colors';

.dropdown-list {
  $root: &;

  &_opened {
    #{$root}__menu {
      display: block;
    }

    #{$root}__button {
      transform: rotate(180deg);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__button {
    background-color: white;
    border: none;
    cursor: pointer;
    line-height: 15px;
    color: rgba(colors.$first, 0.5);
  }

  &__menu {
    display: none;
  }
}
