@use 'Style/constants/colors';

.dropdown-list {
  &_opened &__menu {
    display: block;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__button {
    background-color: white;
    border: none;
    cursor: pointer;
    line-height: 15px;
    color: rgba(colors.$first, 0.5);
  }

  &_opened &__button {
    transform: rotate(180deg);
  }

  &__menu {
    display: none;
  }
}
