include ../title/title

mixin dropdown-list(options)
  -
    const {
      title = '',
      isOpened = false
    } = options || {}

    const openedClass = isOpened && 'dropdown-list_opened'
    const classes = [openedClass]

  .dropdown-list.js-dropdown-list(class=classes)
    .dropdown-list__header
      .dropdown-list__title.js-dropdown-list__title
        +title({text: title, type: 'h4'})
      button.dropdown-list__button.js-dropdown-list__button(type="button")
        include ../../images/decorative/expand-more.svg
    .dropdown-list__menu
      block
