include ../../components/layout/layout
include ../../components/logo/logo

block var
  - const withThemeGray = false

doctype html
html(lang="RU")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    link(rel="apple-touch-icon" sizes="152x152" href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="./assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    title
      block title
  body
    .ui-kit(class=withThemeGray ? ' ui-kit_with-theme-gray' : '')
      +layout
        +layout__header
          .ui-kit__header
            +logo({type: 'logo-icon-only'})
        +layout__main
          block main
        +layout__footer
          .ui-kit__footer
