include ../../components/layout/layout
include ../../components/logo/logo

block var
  - const withThemeGray = false

doctype html
html(lang="RU")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    link(rel="icon" href="./favicon/favicon.ico" type="image/icon")
    title
      block title
  body
    .ui-kit(class=withThemeGray ? ' ui-kit_with-theme-gray' : '')
      +layout
        +layout__header
          .ui-kit__header
            +logo({type: 'logo-icon-only'})
        +layout__main
          block main
        +layout__footer
          .ui-kit__footer
