@import "../../style/variables.scss";

.input {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__hint {
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
  }

  &__wrapper {
    position: relative;
  }

  &__text-field {
    line-height: 42px;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 0 35px 0 15px;
    outline: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
  }

  &__button {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 12px;
    top: 12px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &_more {
      background: no-repeat 50% 50% url('./img/expand_more.svg');
    }

    &_arrow {
      background: no-repeat 50% 50% url('./img/arrow_forward.svg');
    }
  }
}
