include ../title/title

mixin input(options)

  -
    var buttonClasses = ''
    buttonClasses += options.type === 'dropdown' ? 'input__button_more js-input__button_dropdown': ''
    buttonClasses += options.type === 'date-dropdown' ? 'input__button_more js-input__button_date-dropdown': ''
    buttonClasses += options.type === 'filter-date-dropdown' ? 'input__button_more js-input__button_filter-date-dropdown': ''
    buttonClasses += options.type === 'subscription' ? 'input__button_arrow js-input__button_subscription': ''

  .input
    if options.titleText
      .input__header
        +title({text: options.titleText})
        if options.hint
          span.input__hint= options.hint
    .input__wrapper
      input.input__text-field(type="text" value=options.value)
      if buttonClasses != ''
        button.input__button(class=buttonClasses)