@import '../../style/variables.scss';

.row {
  display: flex;

  &_justify-content {
    &-space-between {
      justify-content: space-between;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: end;
    }
  }

  @for $i from 1 to 2000 {
    &_gap-#{$i} {
      gap: $i + px;
    }
  }
}
