mixin row(options)
  -
    const {
      justifyContent,
      alignItems
    } = options || {}

  -
    var classes = ''
    classes += justifyContent ? ' row_justify-content-' + justifyContent : ''

  .row(class=classes)
    block
