mixin radio-buttons(options)
  -
    const {
      name = '',
      items = [
        {value: '', text: '',}
      ]
    } = options || {}

  .radio-buttons
    each item, index in items
      label.radio-buttons__item
        -
          const inputAttributes = {
            name,
            type: "radio",
            value: item.value,
            checked: index === 0
          }

        input.radio-buttons__input&attributes(inputAttributes)
        span.radio-buttons__text= item.text
