@use '@style/constants/colors';
@use '@style/constants/gradients';

.radio-buttons {
  $root: &;

  display: flex;
  gap: 20px;
  word-break: break-word;

  &__item {
    display: flex;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;

    &:focus {
      & ~ #{$root}__icon {
        box-shadow: 0 0 10px rgb(colors.$first, 30%);
      }
    }

    &:checked {
      & ~ #{$root}__icon {
        border-color: #bc9cff;

        &::after {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          background: gradients.$first;
          border-radius: 10px;
        }
      }

      & ~ #{$root}__text {
        color: rgb(colors.$first, 0.75);
      }
    }
  }

  &__icon {
    content: '';
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(colors.$first, 0.25);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: rgb(colors.$first, 0.5);
    cursor: pointer;
  }
}
