@import 'Style/variables';

.radio-buttons {
  display: flex;
  gap: 20px;

  &__item {
    cursor: pointer;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: rgba($color-first, 0.75);
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      border: 1px solid rgba($color-first, 0.25);
      border-radius: 10px;
      top: 0px;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__input:checked + &__text {
    &:before {
      border-color: #bc9cff;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 3px;
      left: 4px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 10px;
    }
  }
}
