include ../button/button
include ../card/card
include ../title/title
include ../calendar/calendar
include ../dropdown-field/dropdown-field
include ../dropdown-menu/dropdown-menu


mixin find-room()
  - 
    const {
      titles,
      dropdownFields,
      dropdownMenu,
      button
    } = require('Components/find-room/data.json')

  .find-room
    +card
      +title(titles.findRoom) 
      form.find-room__form(method="POST", action="/change-it")
        .find-room__calendar
          +calendar 
            div  
              +title(titles.from)
              +dropdown-field(dropdownFields.from)
            div
              +title(titles.to)
              +dropdown-field(dropdownFields.to)
        .find-room__dropdown
          +dropdown-menu(dropdownMenus)
            +title(titles.guests)
            +dropdown-field(dropdownFields.guests)
        .find-room__submit-button
          +button(button)
