include ../button/button
include ../card/card
include ../title/title
include ../calendar/calendar
include ../dropdown/dropdown

mixin find-room
  -
    const {
      title,
      dropdownFields,
      dropdown,
      button,
      calendar,
    } = require('Components/find-room/data.json')

  .find-room
    +card
      +title(Object.assign({type: 'h2'}, title)) 
      form.find-room__form(method="POST", action="/change-it")
        .find-room__calendar
          +calendar(Object.assign({hasTwoInputs: true}, calendar))
        .find-room__dropdown
          +dropdown(Object.assign({isOpened: false,}, dropdown))
        .find-room__submit-button
          +button(Object.assign({theme: 'long', type: 'submit'}, button))
