include ../wrapper/wrapper
include ../button/button
include ../card/card
include ../title/title
include ../calendar/calendar
include ../dropdown-field/dropdown-field
include ../wrapper/wrapper
include ../label/label
include ../dropdown-menu/dropdown-menu

mixin find-room(options)
  .find-room
    +card
      +wrapper({marginBottom: 21})
        +title({text: 'Найдём номера под ваши пожелания'}) 
      form.find-room__form(method="POST", action="/change-it")
        +wrapper({marginBottom: 20})
          +calendar   
            +row
              +wrapper({paddingRight: 10})
                +label({title: 'прибытие'})
                  +wrapper({marginTop: 5})
                    +dropdown-field({inputName: 'dateFrom'})
              +wrapper({paddingLeft: 10})
                +label({title: 'выезд'})
                  +wrapper({marginTop: 5})
                    +dropdown-field({inputName: 'dateTo'})
        +wrapper({marginBottom: 32})
          +dropdown-menu({type: 'guests'})
            +label({title: 'гости'})
              +wrapper({marginTop: 5})
                +dropdown-field({inputName: 'guests'})
        +button({ theme: 'long', text: 'подобрать номер', type: 'submit'})
