@use '@style/constants/colors';
@use '@style/constants/font';

.button {
  $root: &;

  display: inline-block;
  border: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  padding: 0;

  &:hover,
  &#{$root}_hovered {
    opacity: 0.5;
  }

  &_theme-default {
    padding: 14px 20px 15px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;

    #{$root}__text {
      color: white;
    }
  }

  &_theme-outlined {
    padding: 14px 20px 15px;
    border-radius: 22px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

    &::before {
      content: '';
      position: absolute;
      background: white;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 2px;
      border-radius: inherit;
    }

    #{$root}__text {
      color: colors.$second;
    }
  }

  &_theme-link {
    background: none;

    #{$root}__text {
      color: #bc9cff;
    }
  }

  &_theme-long {
    width: 100%;
    padding: 14px 0 15px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;

    #{$root}__text {
      color: white;
    }
  }

  &_size-low {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &__text {
    font-family: font.$first;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration-line: none;
    z-index: 2;
    position: relative;
  }

  &__arrow {
    position: absolute;
    top: 13px;
    right: 12px;
  }
}
