@import "../../style/variables.scss";

.button {
  width: 100%;
  border: none;
  border-radius: 22px;
  padding: 0.1667rem;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  cursor: pointer;

  &_default,
  &_outline,
  &_long {
    &:hover,
    &.button_hovered {
      &.button {
        background: linear-gradient(
          180deg,
          rgba(188, 156, 255, 0.5) 0%,
          rgba(139, 164, 249, 0.5) 100%
        );
      }
    }
  }

  &_low .button__text {
    line-height: 2.5rem;
  }

  &_outline {
    & .button__wrapper {
      background-color: white;
    }

    & .button__text {
      color: #bc9cff;
    }
  }

  &_link {
    width: auto;
    padding: 0;

    & .button__wrapper {
      background-color: white;
    }

    & .button__text {
      color: #bc9cff;
      line-height: 1.25rem;
    }

    &:hover,
    &.button_hovered {
      & .button__text {
        color: rgba(31, 32, 65, 0.5);
      }
    }
  }

  &__wrapper {
    position: relative;
    border-radius: 22px;
  }

  &__text {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    line-height: 3.3333rem;
    white-space: nowrap;
  }

  &__arrow {
    position: absolute;
    background: no-repeat url(./img/arrow-forward.svg) center center;
    height: 100%;
    width: 1.25rem;
    right: 1.25rem;
  }
}
