include ../room-info/room-info
include ../card/card
include ../button/button
include ../calendar/calendar
include ../dropdown-field/dropdown-field
include ../label/label
include ../dropdown-menu/dropdown-menu

mixin room-booking(options)
  -
    const {
      expensesItems = [
        {about: '9 990₽ х 4 суток', hasInfo: false, value: '39 960₽'},
        {about: 'Сбор за услуги: скидка 2 179₽', hasInfo: true, value: '0₽'},
        {about: 'Сбор за дополнительные услуги', hasInfo: true, value: '300₽'},   
      ],

    } = options || {}

  .room-booking
    +card
      form.room-booking__form(method="POST" action="/change-it")
        +room-info({isLux: true})
        .room-booking__calendar-wrapper
          +calendar   
            +label({title: 'прибытие'})
              +dropdown-field({inputName: 'dateFrom'})
            +label({title: 'выезд'})
              +dropdown-field({inputName: 'dateTO'})
        +dropdown-menu({ counters: [2, 1, 0],type: 'guests'})
          +label({title: 'гости'})
            +dropdown-field({inputName: 'guests'})
        ul.room-booking__expenses-list
          each expensesItem in expensesItems
            li.room-booking__expenses-item
              .room-booking__expenses-about= expensesItem.about
              if expensesItem.hasInfo
                span.room-booking__expenses-info.material-icons info_outline
              .room-booking__expenses-value= expensesItem.value
        .room-booking__total 
          span.room-booking__total-text Итого
          span.room-booking__total-line 
          span.room-booking__total-value 38 081₽
        +button({ theme: 'long', text: 'забронировать', type: 'submit' })
