@use 'Style/constants/colors';

.room-booking {
  &__expenses {
    &-list {
      display: grid;
      margin: 20px 0 0;
      padding: 0;
      gap: 15px;
    }

    &-item {
      padding-left: 1px;
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      line-height: 18px;
      color: rgba(colors.$first, 0.75);
    }

    &-about {
      margin-right: auto;
      word-break: break-word;
    }

    &-info {
      width: 20px;
      flex-shrink: 0;
      height: 20px;
      border: 1px solid rgba(colors.$first, 0.25);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      &::before {
        content: 'i';
        display: block;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: rgba(colors.$first, 0.25);
      }

      &::after {
        visibility: hidden;
        content: attr(data-info);
        position: absolute;
        width: 150px;
        background: #f4f4f6;
        word-break: break-all;
        padding: 5px;
        top: 21px;
        z-index: 2;
        border: 1px solid rgba(colors.$first, 0.25);
        border-radius: 4px;
      }

      &:hover::after {
        visibility: visible;
      }
    }

    &-value {
      flex: 0 0 77px;
      text-align: right;
      word-break: break-all;
    }
  }

  &__calendar {
    margin-top: 20px;
    margin-bottom: 22px;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 23px;
    padding-left: 1px;
    font-weight: bold;
    font-size: 19px;
    line-height: 16px;

    &-text {
      margin-right: 4px;
      word-break: break-word;
    }

    &-line {
      flex-grow: 1;
      border-bottom: 1px dotted rgba(colors.$first, 0.25);
    }

    &-value {
      margin-left: 5px;
      word-break: break-word;
    }
  }
}
