include ../room-info/room-info
include ../card/card
include ../button/button
include ../calendar/calendar
include ../dropdown-field/dropdown-field
include ../title/title
include ../dropdown-menu/dropdown-menu

mixin room-booking()
  - 
    const {
      expensesItems, 
      dropdownMenus, 
      titles,
      buttons,
      roomInfos,
      dropdownFields
    } = require('Components/room-booking/data.json')

  .room-booking
    +card
      form.room-booking__form(method="POST" action="/change-it")
        +room-info(roomInfos[0])
        .room-booking__calendar-wrapper
          +calendar  
            div 
              +title(titles[0])
              +dropdown-field(dropdownFields[0])
            div
              +title(titles[1])
              +dropdown-field(dropdownFields[1])
        +dropdown-menu(dropdownMenus[0])
          +title(titles[2])
          +dropdown-field(dropdownFields[2])
        ul.room-booking__expenses-list
          each expensesItem in expensesItems
            li.room-booking__expenses-item
              .room-booking__expenses-about= expensesItem.about
              if expensesItem.hasInfo
                span.room-booking__expenses-info.material-icons info_outline
              .room-booking__expenses-value= expensesItem.value
        .room-booking__total 
          span.room-booking__total-text Итого
          span.room-booking__total-line 
          span.room-booking__total-value 38 081₽
        +button(buttons[0])
