@import 'Style/variables';

.room-booking {
  &__expenses {
    &-list {
      display: grid;
      margin-top: 20px;
      gap: 16px;
    }

    &-item {
      padding-left: 1px;
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      line-height: 18px;
      color: rgba($color-first, 0.75);
    }

    &-about {
      margin-right: auto;
    }

    &-info {
      width: 20px;
      height: 20px;
      border: 1px solid rgba($color-first, 0.25);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: 'i';
        display: block;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: rgba($color-first, 0.25);
      }
    }

    &-value {
      flex: 0 0 77px;
      text-align: right;
    }
  }

  &__calendar {
    margin-top: 20px;
    margin-bottom: 22px;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 23px;
    padding-left: 1px;
    font-weight: bold;
    font-size: 19px;
    line-height: 16px;

    &-text {
      margin-right: 4px;
    }

    &-line {
      flex-grow: 1;
      border-bottom: 1px dotted rgba($color-first, 0.25);
    }

    &-value {
      margin-left: 5px;
    }
  }
}
