@use '@style/constants/colors';

.pie-chart {
  display: flex;
  align-items: flex-end;
  gap: 30px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    padding-left: 15px;
    color: rgba(colors.$first, 0.75);
    list-style-type: none;
    word-break: break-all;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 0;
      top: 2px;
    }

    &_type {
      &-perfectly::before {
        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      }

      &-good::before {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }

      &-satisfactory::before {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }

      &-disappointment::before {
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
    }
  }
}
