@use '@style/constants/colors';

.pie-chart {
  display: flex;
  align-items: flex-end;
  gap: 30px;

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: rgba(colors.$first, 0.75);
    list-style-type: none;
    word-break: break-word;
    display: flex;
    align-items: baseline;

    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 5px;
    }

    &_type {
      &_perfectly::before {
        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      }

      &_good::before {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }

      &_satisfactory::before {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }

      &_disappointment::before {
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
    }
  }
}
