mixin pie-chart()
  .pie-chart
    .pie-chart__review-counter 
      span.pie-chart__review-value 260
      span.pie-chart__review-text голосов
    ul.pie-chart__list
      li.pie-chart__item.pie-chart__item_type-perfectly Великолепно
      li.pie-chart__item.pie-chart__item_type-good Хорошо
      li.pie-chart__item.pie-chart__item_type-satisfactory Удовлетворительно
      li.pie-chart__item.pie-chart__item_type-disappointment Разочарован
