@use '@style/constants/colors';

$first: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$second: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$third: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$fourth: linear-gradient(180deg, #919191 0%, #3d4975 100%);
$fifth: linear-gradient(
  90deg,
  rgb(0, 0, 0, 50%) 0%,
  rgb(0, 0, 0, 0%) 99.99%,
  rgb(255, 255, 255, 0%) 100%
);
$sixth: linear-gradient(
  180deg,
  rgb(colors.$second, 25%) 0%,
  rgb(139, 164, 249, 25%) 100%
);
