@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin h3() {
  font-size: 19px;
  line-height: 23px;
}

@mixin body() {
  font-size: 14px;
  line-height: 24px;
}
