include ../components/logo/logo
include ../components/layout/layout

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title
        block title
  body
    +layout
      +layout__header
        +layout__container
          +logo({type: 'mini'})
      +layout__main
        block main
