include ../components/logo/logo
include ../components/layout/layout
include ../components/wrapper/wrapper
include ../components/container/container

block var
  -
    var withThemeGray = false

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title
      block title
  body(class=withThemeGray ? 't-ui-kit_with-theme-gray' : '')
    +layout
      +layout__header
        +container({size: 'big'})
          +wrapper({paddingTop: 30, paddingBottom: 62})
            +logo({type: 'mini'})
      +layout__main
        block main
