include ../components/logo/logo
include ../components/layout/layout

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title
        block title
  body(class = hasBackground ? 't-ui-kit__background' : '')
    +layout
      +layout__header
        +layout__container({basis: 1380, align: 'center', mix: 't-ui-kit__header'})
          +logo({type: 'mini'})
      +layout__main
        block main
