@import '../../style/variables.scss';

.dropdown-field {
  position: relative;
  width: 100%;

  &__input {
    border: 0.0833rem solid rgba($color-first, 0.25);
    border-radius: 0.1667rem;
    width: 100%;
    font: 1.1667rem/3.5rem $font-first;
    color: rgba($color-first, 0.75);
    padding: 0 3.6667rem 0 1.25rem;

    &:hover,
    &:focus,
    &[data-focus='true'] {
      border-color: rgba($color-first, 0.5);
      outline: none;
    }
  }

  &__button {
    position: absolute;
    height: 100%;
    width: 3.6667rem;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background: no-repeat url(./img/toggle-button.svg) center center;
    border: none;
  }
}
