@import '../../style/variables.scss';

.dropdown-field {
  position: relative;
  width: 100%;

  &__input {
    border: 1px solid rgba($color-first, 0.25);
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    color: rgba($color-first, 0.75);
    padding: 0 44px 0 15px;

    &:hover,
    &:focus,
    &[data-focus='true'] {
      border-color: rgba($color-first, 0.5);
      outline: none;
    }

    &[data-opened='true'] {
      border-color: rgba($color-first, 0.5);
      outline: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__button {
    position: absolute;
    height: 100%;
    width: 44px;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background: no-repeat url(./img/toggle-button.svg) center center;
    border: none;
  }
}
