@use '@style/constants/colors';
@use '@style/constants/font';

.like-button {
  $root: &;

  background: rgb(colors.$first, 0.25);
  border: none;
  border-radius: 10px;
  min-width: 40px;
  height: 20px;
  position: relative;
  padding: 1px;
  cursor: pointer;

  &_liked {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

    #{$root} {
      &__icon {
        display: none;

        &_liked {
          display: inline;
        }
      }

      &__counter {
        color: colors.$second;
      }
    }
  }

  &__background {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0, 0%);
    border-radius: inherit;
    background: white;
  }

  &__icon {
    margin-left: 4px;
    width: 10px;
    height: 8px;

    &_liked {
      display: none;
    }
  }

  &__counter {
    font-family: font.$first;
    font-size: 10px;
    line-height: 12px;
    color: rgb(colors.$first, 0.25);
    margin-left: 6px;
    margin-right: 4px;
  }
}
