mixin like-button(options)
  -
    const {
      isLiked = false, 
      counter = 1
    } = options || {}

  -
    var classes = ''
    classes += isLiked ? ' like-button_liked': ''

  button.like-button.js-like-button(class=classes)
    span.like-button__icon.material-icons 
    span.like-button__counter= counter
