mixin like-button({isLiked = false, counter = 1})

  -
    var classes = ''
    classes += isLiked ? ' like-button_liked': ''

  button.like-button.js-like-button(class=classes)
    div.like-button__content= counter
