include ../svg/theme/gradient/gradient

mixin like-button(options)
  -
    const {
      isLiked = false, 
      counter = 0
    } = options || {}

    const likeClass = isLiked && 'like-button_liked'
    const classes = [likeClass]

  button.like-button.js-like-button(class=classes, type="button")
    span.like-button__background
      -
        const {nanoid} = require('nanoid/non-secure')
        const SVGgradientID = `id-${nanoid()}`
      +gradient({id: SVGgradientID, startColor: '#BC9CFF', endColor: '#8BA4F9'})
      svg.like-button__icon
        include ../../images/decorative/favorite-border.svg
      svg.like-button__icon.like-button__icon_liked(
        fill=`url(#${SVGgradientID})`
      )
        include ../../images/decorative/favorite.svg
      span.like-button__counter.js-like-button__counter= counter
