@use '@style/constants/colors';

.like-button {
  $root: &;

  background: rgba(colors.$first, 0.25);
  border: none;
  border-radius: 10px;
  min-width: 40px;
  position: relative;
  text-align: start;
  cursor: pointer;
  padding: 0;

  &::before {
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1px;
    border-radius: inherit;
  }

  &_liked {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

    #{$root}__icon {
      background-image: url('@images/decorative/favorite.svg');
    }

    #{$root}__counter {
      color: colors.$second;
    }
  }

  &__icon {
    position: absolute;
    z-index: 2;
    background-image: url('@images/decorative/favorite-border.svg');
    height: 8px;
    width: 10px;
    top: 6px;
    left: 5px;
  }

  &__counter {
    font-size: 10px;
    line-height: 20px;
    color: rgba(colors.$first, 0.25);
    position: relative;
    z-index: 2;
    margin-left: 22px;
    margin-right: 5px;
  }
}
