mixin like-button(options)
  if !options
    - options = {}

  -
    var classes = ''
    classes += options.isLiked ? ' like-button_liked': ''

  button.like-button.js-like-button(class=classes)
    div.like-button__content= options.counter
