mixin like-button(options)
  -
    const {
      isLiked = false, 
      counter = 0
    } = options || {}

    const likeClass = isLiked && 'like-button_liked'
    const classes = [likeClass]

  button.like-button.js-like-button(class=classes, type="button")
    span.like-button__icon 
    span.like-button__counter.js-like-button__counter= counter
