include ../room-card/room-card

mixin room-list(options)
  -
    var data = require('Components/room-list/data.json')

  -
    const {
      items = data.items
    } = options || {}

  ul.room-list
    each item in items
      li.room-list__item
        -
          const {images, currentImg, number, link, isLux, price, quantity, reviews} = item
        +room-card({images, currentImg, number, link, isLux, price, quantity, reviews,})
