include ../room-card/room-card

mixin room-list(options)
  -
    var data = require('../../components/room-list/data.json')

  -
    const {
      items = data.items
    } = options || {}

 
  ul.room-list
    each item in items
      li.room-list__item
        +room-card({ images: item.images, currentImg: item.currentImg, number: item.number, link: item.link, isLux: item.isLux, price: item.price, quantity: item.quantity, reviews: item.reviews, })
