@import '../../style/variables.scss';

.room-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

  &__item {
    margin-top: 21px;
    list-style-type: none;
    width: calc(100% / 3 - 24px);

    @include media-breakpoint-down($lg) {
      width: calc(100% / 2 - 12px);
    }

    @include media-breakpoint-down($xs) {
      width: 100%;
    }
  }
}
