include ../room-card/room-card

mixin room-list
  - const {items} = require('Components/room-list/data.json')

  ul.room-list
    each item in items
      - const {images, currentImg, number, link, isLux, price, quantity, reviews} = item

      li.room-list__item
        +room-card({images, currentImg, number, link, isLux, price, quantity, reviews,})
