@import "../../style/variables.scss";

.room-list {
  width: 100%;

  &__list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 1.6667rem;
    list-style-type: none;
    width: calc(100% / 3 - 0.6667rem);

    @include media-breakpoint-down($lg) {
      width: calc(100% / 2 - 0.6667rem);
    }

    @include media-breakpoint-down($xs) {
      width: 100%;
    }
  }

  &__pagination {
    margin: 40px auto 0;
  }
}
