@use '@style/constants/mixins';
@use '@style/constants/display-sizes';

.room-list {
  display: flex;
  row-gap: 19px;
  column-gap: 12px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  &__item {
    list-style-type: none;
    width: calc(100% / 3 - 8px);

    @include mixins.media-breakpoint-down(display-sizes.$lg) {
      width: calc(100% / 2 - 6px);
    }

    @include mixins.media-breakpoint-down(display-sizes.$xs) {
      width: 100%;
    }
  }
}
