@use '@style/constants/display-sizes';
@use '@style/constants/mixins';

.search-room {
  padding-top: 30px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(31, 32, 65, 25%);

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__filter-wrapper {
    flex-basis: 266px;
  }

  &__column {
    flex-basis: 834px;
  }

  &__room-list-wrapper {
    padding-top: 21px;
    padding-bottom: 42px;
  }

  &__pagination {
    padding-right: 14px;
    display: flex;
    justify-content: center;
  }
}

@include mixins.media-breakpoint-down(display-sizes.$lg) {
  .search-room {
    &__content {
      gap: 20px;
    }

    &__pagination {
      padding-left: 0;
      display: flex;
      justify-content: center;
    }
  }
}

@include mixins.media-breakpoint-down(display-sizes.$md) {
  .search-room {
    &__content {
      flex-direction: column;
    }

    &__filter-wrapper {
      flex-basis: auto;
    }
  }
}
