extends ../../templates/website-pages

include ../../components/layout/layout
include ../../components/room-list/room-list
include ../../components/filter/filter

block title 
  | Search room

block main
  +layout__box({isContainer: true, grow: 1, mt: 30})
    +layout__box({mix: 'p-search-room__content'})
      +layout__box({basis: 266, shrink: '0', mr: 60, mix: 'p-search-room__filter'})
        +filter
      +layout__box({basis: 834, align: 'right'})
        +room-list