extends ../../templates/website-pages/website-pages
include ../../components/room-list/room-list
include ../../components/filter/filter
include ../../components/container/container
include ../../components/row/row
include ../../components/wrapper/wrapper

block title
  | Search room

block main
  +container
    +wrapper({paddingTop: 30})
      +row({justifyContent: 'space-between'})
        +wrapper({basis: 266})
          +filter
        +wrapper({basis: 834})
          +room-list
