extends ../../templates/website-pages/website-pages
include ../../components/room-list/room-list
include ../../components/filter/filter
include ../../components/container/container
include ../../components/title/title
include ../../components/pagination/pagination

block title
  | Search room

block main
  .search-room
    +container
      .search-room__content
        .search-room__filter-wrapper
          +filter
        .search-room__column
          +title({text: 'Номера, которые мы для вас подобрали', type: 'h2'})
          .search-room__room-list-wrapper
            +room-list
          .search-room__pagination
            +pagination
