extends ../../templates/website-pages/website-pages
include ../../components/room-list/room-list
include ../../components/filter/filter
include ../../components/container/container
include ../../components/heading/heading
include ../../components/pagination/pagination

block var
  -
    const description = 'Поиск комнаты в отеле';
    const keywords = 'отель, куча комнат, уют, за небольшую стоимость';

block title
  | Search room

block main
  -
    const {
      title,
      pagination,
      roomList,
    } = require('./data.json')

  .search-room
    +container
      .search-room__content
        .search-room__filter-wrapper
          +filter
        .search-room__column
          +heading(Object.assign({variant: 'h2'}, title))
          .search-room__room-list-wrapper
            +room-list(roomList)
          .search-room__pagination
            +pagination(pagination)
