extends ../../templates/website-pages

include ../../components/room-list/room-list
include ../../components/filter/filter
include ../../components/container/container
include ../../components/row/row
include ../../components/box/box

block title
  | Search room

block main
  +container
    +row
      +box
        +filter
      +box
        +room-list
