@import '../../style/variables.scss';

.dropdown-menu {
  width: 100%;
  position: relative;

  &_opened &__menu {
    display: block;
  }

  &__menu {
    position: absolute;
    z-index: 10;
    display: none;
    width: 100%;
    background-color: white;
    padding: 0.5833rem 0.5833rem 0.5rem 1.25rem;
    border: 0.0833rem solid rgba($color-first, 0.5);
    border-top: none;
    border-radius: 0 0 0.1667rem 0.1667rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5833rem;
  }

  &__item {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item-name {
    margin-right: auto;
    font: bold 1rem/1.25rem $font-first;
    text-transform: uppercase;
  }

  &__counter {
    flex: 0 0 2.6667rem;
    text-align: center;
    font: bold 1rem/1.25rem $font-first;

    &-button {
      flex-shrink: 0;
      border: 0.0833rem solid rgba($color-first, 0.25);
      background: white;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      font: 1.5rem/2.5rem $font-first;
      color: rgba($color-first, 0.5);
      cursor: pointer;

      &_disabled {
        opacity: 0.38;
        cursor: default;
      }
    }
  }

  &__buttons {
    margin: 1.5rem 0 0.5rem 0;
    display: flex;
  }

  &__apply {
    margin-left: auto;
  }
}
