@use 'Style/constants/colors';

.dropdown-menu {
  width: 100%;
  position: relative;

  &_opened &__menu {
    display: block;
  }

  &__menu {
    position: absolute;
    z-index: 10;
    display: none;
    width: 100%;
    background-color: white;
    padding: 7px 7px 6px 15px;
    border: 1px solid rgba(colors.$first, 0.5);
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__item {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item-name {
    margin-right: auto;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
  }

  &__counter {
    flex: 0 0 30px;
    text-align: center;
    font-weight: bold;
    line-height: 12px;

    &-button {
      flex-shrink: 0;
      border: 1px solid rgba(colors.$first, 0.25);
      background: white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 18px;
      line-height: 30px;
      color: rgba(colors.$first, 0.5);
      cursor: pointer;

      &_disabled {
        opacity: 0.38;
        cursor: default;
      }
    }
  }

  &__buttons {
    margin: 18px 0 6px 0;
    display: flex;
  }

  &__apply-button {
    margin-left: auto;
  }
}
