extends ../../templates/website-pages

include ../../components/auth/auth

block title 
  | Registration and sing-in 

block main
  +layout__box({pt: 19, pb: 19, mix: 'p-registration-and-sing-in__background'})
    +layout__container 
      +layout__row({justify: 'center', align: 'stretch'})
        +layout__column({basis: 380, shrink: '0', justify: 'center'})
          +auth