@import "../../style/variables.scss";

.p-registration-and-sing-in {
  &__background {
    height: 100%;
    min-height: 684px;
    background-image: url(./img/background.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
