include ../typography/typography

mixin font-types(options)
  -
    const {
      items = [
        {
          theme: '', 
          sample: '', 
          description: ''
        },
      ] 
    } = options || {}

  .font-types
    each item in items
      -
        const themeClass = `font-types__item_theme_${item.theme}`;
        const classes = [themeClass]

      .font-types__item(class=classes)
        .font-types__sample
          +typography({text: item.sample, variant: item.variant, isBold: false, tagMapping: 'span'})
        .font-types__description
          +typography({text: item.description, variant: item.variant, isBold: item.isBold})
