mixin font-types(options)
  -
    const {
      items = [
        {
          theme: 'h1', 
          sample: 'H1', 
          description: 'This one is the sub-section or\nwidget title'
        },
        {
          theme: 'h2', 
          sample: 'H2', 
          description: 'Next one is the item title inside\nwidgets'
        },
        {
          theme: 'h3', 
          sample: 'H3', 
          description: 'This is a label or CTA text'
        },
        {
          theme: 'body', 
          sample: 'Body', 
          description: 'This is the body text which is used for most\nof the design, like paragraphs, lists, etc.'
        },
      ] 
    } = options || {}

    var classes = ''
    

  .font-types
    each item in items

      - classes = 'font-types__item_theme-' + item.theme

      .font-types__item(class=classes)
        span.font-types__sample= item.sample
        span.font-types__description= item.description
