mixin font-types(options)
  -
    const {
      items = [
        {
          theme: '', 
          sample: '', 
          description: ''
        },
      ] 
    } = options || {}

    let classes = ''

  .font-types
    each item in items
      - classes = `font-types__item_theme-${item.theme}`;

      .font-types__item(class=classes)
        span.font-types__sample= item.sample
        span.font-types__description!= item.description
