mixin font-types(options)

  -
    const {
      items = [
        {
          theme: 'h1', 
          sample: 'H1', 
          description: 'This one is the sub-section or widget title'
        },
        {
          theme: 'h2', 
          sample: 'H2', 
          description: 'Next one is the item title inside widgets'
        },
        {
          theme: 'h3', 
          sample: 'H3', 
          description: 'This is a label or CTA text'
        },
        {
          theme: 'body', 
          sample: 'Body', 
          description: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'
        },
      ] 
    } = options || {}

  .font-types
    each item in items
      .font-types__item(class= `font-types__item_theme-${item.theme}`)
        span.font-types__sample= item.sample 
        span.font-types__description=item.description

