@import '../../style/variables.scss';

$sample-width: 37px;

.font-types {
  display: grid;
  align-self: start;
  gap: 51px;

  &__item {
    display: flex;
  }

  &__sample {
    display: flex;
    width: $sample-width;
    justify-content: flex-end;
    margin-right: 30px;
    color: rgba($color-first, 0.25);
  }

  &__item_theme-h1 &__sample {
    font-size: 24px;
    line-height: 29px;
  }

  &__item_theme-h2 &__sample {
    font-size: 19px;
    line-height: 23px;
  }

  &__item_theme-h3 &__sample {
    font-size: 12px;
    line-height: 15px;
  }

  &__item_theme-body &__sample {
    font-size: 14px;
    line-height: 24px;
  }

  &__description {
    color: $color-first;
    white-space: pre;
  }

  &__item_theme-h1 &__description {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }

  &__item_theme-h2 &__description {
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
  }

  &__item_theme-h3 &__description {
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__item_theme-body &__description {
    font-size: 14px;
    line-height: 24px;
    color: rgba($color-first, 0.75);
  }
}
