@use '@style/constants/colors';

$sample-width: 37px;

.font-types {
  $root: &;

  display: grid;
  align-self: start;
  gap: 51px;

  &__item {
    display: flex;

    &_theme_h1 {
      #{$root}__sample {
        font-size: 24px;
        line-height: 29px;
      }

      #{$root}__description {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
      }
    }

    &_theme_h2 {
      #{$root}__sample {
        font-size: 19px;
        line-height: 23px;
      }

      #{$root}__description {
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
      }
    }

    &_theme_h3 {
      #{$root}__sample {
        font-size: 12px;
        line-height: 15px;
      }

      #{$root}__description {
        font-weight: bold;
        line-height: 15px;
        text-transform: uppercase;
      }
    }

    &_theme_body {
      #{$root}__sample {
        font-size: 14px;
        line-height: 24px;
      }

      #{$root}__description {
        font-size: 14px;
        line-height: 24px;
        color: rgba(colors.$first, 0.75);
      }
    }
  }

  &__sample {
    display: flex;
    min-width: $sample-width;
    max-width: $sample-width;
    justify-content: flex-end;
    margin-right: 30px;
    color: rgba(colors.$first, 0.25);
    word-break: break-word;
  }

  &__description {
    color: colors.$first;
    word-break: break-word;
  }
}
