include ../heading/heading

mixin range-slider(options)
  -
    const { 
      title = '' 
    } = options || {};

  .range-slider.js-range-slider
    .range-slider__header
      +heading({text: title, variant: 'h4'})
      span.range-slider__value.js-range-slider__value
    .range-slider__slider.js-range-slider__slider
