@import '../../style/variables.scss';

.range-slider {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__value {
    line-height: 15px;
    color: rgba($color-first, 0.5);
    flex-shrink: 0;
  }

  &__slider {
    display: none;
  }
}
