include ../label/label

mixin range-slider(options)
  - const {title = 'range slider'} = options || {}
  
  .range-slider
    .range-slider__header 
      +label({title})
      span.range-slider__value.js-range-slider__value
    input.range-slider__slider.js-range-slider__slider