@use '@style/constants/colors';

.range-slider {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__value {
    line-height: 15px;
    color: rgba(colors.$first, 0.5);
    flex-shrink: 0;
  }
}
