.form-elements {
  max-width: 1160px;
  margin: 0 auto;

  &__row {
    display: flex;

    &:nth-child(1) {
      margin-top: 3px;
    }

    &:nth-child(2) {
      margin-top: 100px;
    }

    &:nth-child(3) {
      margin-top: 172px;
    }

    &:nth-child(4) {
      margin-top: 100px;
      justify-content: space-between;
    }
  }

  &__text-fields-and-buttons-left-column {
    flex-basis: 320px;
  }

  &__text-fields-and-buttons-left {
    &:nth-child(3) {
      margin-top: 21px;
    }

    &:nth-child(4) {
      margin-top: 20px;
    }

    &:nth-child(5) {
      margin-top: 23px;
    }

    &:nth-child(6) {
      margin-top: 41px;
    }

    &:nth-child(7) {
      width: 266px;
      margin-top: 41px;
    }

    &:nth-child(8) {
      width: 266px;
      margin-top: 41px;
    }
  }

  &__text-fields-and-buttons-middle-column {
    flex-basis: 260px;
    margin-right: 132px;
    margin-left: 126px;
  }

  &__text-fields-and-buttons-middle {
    &:nth-child(2) {
      margin-top: 12px;
      width: 222px;
    }

    &:nth-child(3) {
      margin-top: 42px;
    }

    &:nth-child(4) {
      margin-top: 11px;
    }

    &:nth-child(5) {
      margin-top: 41px;
    }

    &:nth-child(6) {
      margin-top: 11px;
    }

    &:nth-child(7) {
      margin-top: 14px;
    }

    &:nth-child(8) {
      margin-top: 45px;
    }

    &:nth-child(9) {
      margin-top: 11px;
      display: flex;
      gap: 10px;
    }

    &:nth-child(10) {
      margin-top: 40px;
    }

    &:nth-child(11) {
      margin-top: 13px;
      display: flex;
      gap: 25px;
      padding-left: 3px;
    }
  }

  &__text-fields-and-buttons-right-column {
    flex-basis: 320px;
  }

  &__text-fields-and-buttons-right {
    &:nth-child(1) {
      width: 266px;
    }

    &:nth-child(2) {
      margin-top: 44px;
    }

    &:nth-child(3) {
      margin-top: 11px;
      display: flex;
      gap: 19px;
    }

    &:nth-child(4) {
      margin-top: 30px;
      display: flex;
      gap: 20px;
    }

    &:nth-child(5) {
      margin-top: 31px;
      display: flex;
      gap: 20px;
    }

    &:nth-child(6) {
      margin-top: 28px;
    }

    &:nth-child(7) {
      margin-top: 40px;
      padding-left: 2px;
    }

    &:nth-child(8) {
      margin-top: 11px;
      padding-left: 2px;
    }
  }

  &__dropdowns-left-column {
    flex-basis: 266px;
  }

  &__dropdowns-left {
    margin-top: 21px;
  }

  &__dropdowns-middle-column {
    flex-basis: 320px;
    margin-left: 181px;
    margin-right: 72px;
  }

  &__dropdowns-right-column {
    flex-basis: 320px;
  }

  &__lists-left-column {
    flex-basis: 250px;
  }

  &__list-left {
    margin-top: 29px;
  }

  &__lists-middle-column {
    flex-basis: 266px;
    margin-left: 198px;
    margin-right: 126px;
  }

  &__lists-middle {
    margin-top: 11px;
    width: 260px;
  }

  &__lists-right-column {
    flex-basis: 292px;
  }

  &__lists-right {
    margin-top: 8px;
    width: 260px;
  }

  &__text-icon-list-column {
    flex-basis: 280px;
  }

  &__comment-column {
    flex-basis: 713px;
    margin-top: 10px;
  }
}
