extends ../../templates/ui-kit

include ../../components/icon-text-list/icon-text-list
include ../../components/button/button
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/rate/rate
include ../../components/checkbox-list/checkbox-list
include ../../components/radio-buttons/radio-buttons
include ../../components/dropdown/dropdown
include ../../components/pagination/pagination
include ../../components/label/label
include ../../components/text-field/text-field
include ../../components/container/container
include ../../components/wrapper/wrapper
include ../../components/row/row
include ../../components/label/label
include ../../components/calendar/calendar
include ../../components/dropdown-field/dropdown-field
include ../../components/dropdown-menu/dropdown-menu

block title
  | Form elements

block main
  +container
    +wrapper({ marginTop: 3})
      +row
        +wrapper({basis: 320})
          +label({title: 'Text Field', hint: 'Default'})
            +wrapper({marginTop: 5})
              +text-field({ title: 'Text Field', hint: "Default", placeholder: 'Email', type: "email" })
          +wrapper({marginTop: 20})
            +label({title: 'Text Field', hint: 'Hover / Focus'})
              +wrapper({marginTop: 5})
                +text-field({ isHovered: true, title: 'Text Field', hint: "Hover / Focus", value: "This is pretty awesome", placeholder: 'This is pretty awesome', type: "text" })
          +wrapper({marginTop: 20})
            +label({title: 'label'})
              +wrapper({marginTop: 5})
                +text-field({ title: 'Text Field', hint: "Default", placeholder: 'Email', type: "email" })
          +wrapper({marginTop: 22})
            +label({title: 'masked text field'})
              +wrapper({marginTop: 5})
                +text-field({ title: 'masked text field', isMasked: true })
          +wrapper({marginTop: 40})
            +calendar   
              +row
                +wrapper({paddingRight: 10})
                  +label({title: 'date Dropdown'})
                    +wrapper({marginTop: 5})
                      +dropdown-field
                +wrapper({paddingLeft: 10})
                  +label({title: 'date Dropdown'})
                    +wrapper({marginTop: 5})
                      +dropdown-field
          +wrapper({width: 266})
            +wrapper({marginTop: 40, width: 266})
              +calendar   
                +label({title: 'filter date dropdown'})
                  +wrapper({marginTop: 5})
                    +dropdown-field
            +wrapper({marginTop: 40})
              +label({title: 'subscription text field'})
                +wrapper({marginTop: 5})
                  +text-field({ title: 'subscription text field', placeholder: 'Email', type: "email", isSubscription: true })

        +wrapper({basis: 260, marginRight: 132, marginLeft: 126}) 
          +label({title: 'Checkbox Buttons'})
          +wrapper({marginTop: 16})
          +checkbox-list({ title: 'Rich Checkbox Buttons', items: [ {text: "Можно курить"}, {text: "Можно с питомцами", isChecked: true}, {text: "Можно пригласить гостей (до 10 человек)", isChecked: true}, ]})
          +wrapper({marginTop: 41})
            +label({title: 'Radio Buttons'}) 
          +wrapper({marginTop: 16})
            +radio-buttons
          +wrapper({marginTop: 37})
            +label({title: 'Toggle'})
          +wrapper({marginTop: 16})
            +toggle
          +wrapper({marginTop: 10})
            +toggle({isChecked: true})
          +wrapper({marginTop: 40})
            +label({title: 'like button'})
          +wrapper({marginTop: 10})
            +row
              +like-button({counter: 1, isLiked: true})
              +wrapper({marginLeft: 16})
                +like-button
          +wrapper({marginTop: 16})
          +label({title: 'rate button'})
          +row
            +rate({quantity: 4})
            +wrapper({marginLeft: 20})
              +rate

        +wrapper({basis: 320}) 
          +label({title: 'buttons'}) 
          +wrapper({marginTop: 16})
            +row
              +button
              +wrapper({marginLeft: 19})
                +button({ isHovered: true, })
          +wrapper({marginTop: 30})
            +row
              +button({ type: 'outline', })
              +wrapper({marginLeft: 20})
                +button({ type: 'outline', isHovered: true, })
          +wrapper({marginTop: 31}) 
            +row
              +button({ type: 'link', })
              +wrapper({marginLeft: 20})
                +button({ type: 'link', isHovered: true, })
          +wrapper({marginTop: 30})
            +button({ type: 'long', text: 'перейти к оплате', })
          +wrapper({marginTop: 40})
            +label({title: 'pagination'})
          +wrapper({marginTop: 16})
            +pagination 

    +wrapper({marginTop: 100})
      +row
        +wrapper({basis: 266})
          +dropdown({type: 'rooms'})
            +dropdown({type: 'rooms', counters: [5,4,7], isOpened: true})

        +wrapper({basis: 320, marginLeft: 181, marginRight: 72})
          +dropdown-menu({})
            +label({title: 'masked text field'})
              +wrapper({marginTop: 5})
                +dropdown-field

        +wrapper({basis: 320})
          +dropdown({counters: [2,1,0], isOpened: true})

    +wrapper({marginTop: 158})
      +row
        +wrapper({basis: 266})
          +checkbox-list({ title: 'expandable checkbox list', type: 'expanded', })
          +checkbox-list({ title: 'expandable checkbox list', type: 'expanded', isOpened: true, })

        +wrapper({marginLeft: 181, marginRight: 126, basis: 266})
          +label({title: 'rich Checkbox Buttons'})
          +wrapper({marginTop: 16})
          +checkbox-list({ title: 'Checkbox Buttons', type: 'rich', items: [ {text: "Широкий коридор", subText: 'Ширина коридоров в номере не менее 91 см.'}, {text: "Помощник для инвалидов", subText: 'На 1 этаже вас встретит специалист и проводит до номера.'}, ]})

        +wrapper({basis: 292})
          +label({title: 'bullet list'})
          +wrapper({marginTop: 16})
          +bullet-list

    +wrapper({marginTop: 236})
      +row
        +wrapper({basis: 280})
          +icon-text-list

        +wrapper({marginLeft: 167, marginTop: 10, basis: 712})
          +comment
