extends ../../templates/ui-kit/ui-kit

include ../../components/icon-text-list/icon-text-list
include ../../components/button/button
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/rate/rate
include ../../components/checkbox-list/checkbox-list
include ../../components/radio-buttons/radio-buttons
include ../../components/pagination/pagination
include ../../components/title/title
include ../../components/text-field/text-field
include ../../components/calendar/calendar
include ../../components/dropdown-field/dropdown-field
include ../../components/dropdown-menu/dropdown-menu
include ../../components/dropdown-list/dropdown-list
include ../../components/range-slider/range-slider

block title
  | Form elements

block main
  -
    const { 
      titles,
      textFields, 
      checkboxLists, 
      comment, 
      iconTextList, 
      bulletList,
      dropdownMenus,
      toggles,
      likeButtons,
      rates,
      buttons,
      dropdownLists,
      rangeSlider,
    } = require('./data.json')

  .form-elements
    .form-elements__row
      .form-elements__text-fields-and-buttons-left-column
        +title(Object.assign({type: 'h4'}, titles.defaultTextField))
        +text-field(textFields.default)
        .form-elements__text-fields-and-buttons-left
          +title(Object.assign({type: 'h4'}, titles.hoverTextField))
          +text-field(textFields.hover)
        .form-elements__text-fields-and-buttons-left
          +dropdown-menu(dropdownMenus.guestsClose)
            +title(Object.assign({type: 'h4'}, titles.dropdown))
            +dropdown-field
        .form-elements__text-fields-and-buttons-left
          +title(Object.assign({type: 'h4'}, titles.maskedTextField))
          +text-field(textFields.masked)
        .form-elements__text-fields-and-buttons-left
          +calendar 
        .form-elements__text-fields-and-buttons-left
          +calendar 
        .form-elements__text-fields-and-buttons-left
          +title(Object.assign({type: 'h4'}, titles.subscriptionTextField))
          +text-field(textFields.email)

      .form-elements__text-fields-and-buttons-middle-column
        +title(Object.assign({type: 'h4'}, titles.checkbox))
        .form-elements__text-fields-and-buttons-middle
          +checkbox-list(checkboxLists.short)
        .form-elements__text-fields-and-buttons-middle
          +title(Object.assign({type: 'h4'}, titles.radioButton))
        .form-elements__text-fields-and-buttons-middle
          +radio-buttons
        .form-elements__text-fields-and-buttons-middle
          +title(Object.assign({type: 'h4'}, titles.toggle))
        .form-elements__text-fields-and-buttons-middle
          +toggle(toggles.checked)
        .form-elements__text-fields-and-buttons-middle
          +toggle(toggles.default)
        .form-elements__text-fields-and-buttons-middle
          +title(Object.assign({type: 'h4'}, titles.likeButton))
        .form-elements__text-fields-and-buttons-middle
          +like-button(likeButtons.default)
          +like-button(likeButtons.liked)
        .form-elements__text-fields-and-buttons-middle
          +title(Object.assign({type: 'h4'}, titles.rateButton))
        .form-elements__text-fields-and-buttons-middle
          +rate(rates.four)
          +rate(rates.five)

      .form-elements__text-fields-and-buttons-right-column
        .form-elements__text-fields-and-buttons-right
          +range-slider(rangeSlider)
        .form-elements__text-fields-and-buttons-right
          +title(Object.assign({type: 'h4'}, titles.buttons))
        .form-elements__text-fields-and-buttons-right
          +button(Object.assign({theme: 'default', type: 'button'}, buttons.defaultButton))
          +button(Object.assign({theme: 'default', type: 'button'}, buttons.defaultButtonDisable))
        .form-elements__text-fields-and-buttons-right
          +button(Object.assign({theme: 'outline', type: 'button'}, buttons.outlineButton))
          +button(Object.assign({theme: 'outline', type: 'button'}, buttons.outlineButtonDisable))
        .form-elements__text-fields-and-buttons-right
          +button(Object.assign({theme: 'link', type: 'button'}, buttons.linkButton))
          +button(Object.assign({theme: 'link', type: 'button'}, buttons.linkDisable))
        .form-elements__text-fields-and-buttons-right
          +button(Object.assign({theme: 'long', type: 'button'}, buttons.longButton))
        .form-elements__text-fields-and-buttons-right
          +title(Object.assign({type: 'h4'}, titles.pagination))
        .form-elements__text-fields-and-buttons-right
          +pagination 

    .form-elements__row
      .form-elements__dropdowns-left-column
        +dropdown-menu(dropdownMenus.roomsClose)
          +title(Object.assign({type: 'h4'}, titles.dropdownDefault))
          +dropdown-field
        .form-elements__dropdowns-left
          +dropdown-menu(dropdownMenus.rooms)
            +title(Object.assign({type: 'h4'}, titles.dropdownExpanded))
            +dropdown-field

      .form-elements__dropdowns-middle-column
        +dropdown-menu(dropdownMenus.guestsEmpty)
          +title(Object.assign({type: 'h4'}, titles.dropdown))
          +dropdown-field

      .form-elements__dropdowns-right-column
        +dropdown-menu(dropdownMenus.guests)
          +title(Object.assign({type: 'h4'}, titles.dropdown))
          +dropdown-field

    .form-elements__row
      .form-elements__lists-left-column
        +dropdown-list(dropdownLists.close)
          +checkbox-list(checkboxLists.long)
        .form-elements__list-left
          +dropdown-list(dropdownLists.opened)
            +checkbox-list(checkboxLists.long)

      .form-elements__lists-middle-column
        +title(Object.assign({type: 'h4'}, titles.richCheckboxButtons))
        .form-elements__lists-middle
          +checkbox-list(checkboxLists.rich)

      .form-elements__lists-right-column
        +title(Object.assign({type: 'h4'}, titles.bulletList))
        .form-elements__lists-right
          +bullet-list(bulletList)

    .form-elements__row
      .form-elements__text-icon-list-column
        +icon-text-list(iconTextList)

      .form-elements__comment-column
        +comment(comment)
