extends ../../templates/ui-kit

include ../../components/icon-text-list/icon-text-list
include ../../components/button/button
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/rate/rate
include ../../components/checkbox-list/checkbox-list 
include ../../components/radio-buttons/radio-buttons 
include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown/dropdown
include ../../components/pagination/pagination 
include ../../components/label/label
include ../../components/text-field/text-field

block title 
  | Form elements

block main
  +layout__box({isContainer: true})

    +layout__box({pt: 3})

      +layout__box({basis: 320, direction: 'column'})
        +text-field({
          title: 'Text Field',
          hint: "Default",
          placeholder: 'Email',
          type: "email"
        })
        +layout__box({mt: 20})
          +text-field({
            isHovered: true,
            title: 'Text Field',
            hint: "Hover / Focus",
            value: "This is pretty awesome",
            placeholder: 'This is pretty awesome',
            type: "text"
          })
        +layout__box({mt: 20})
          +text-field({
            title: 'Text Field',
            hint: "Default",
            placeholder: 'Email',
            type: "email"
          })
        +layout__box({mt: 22})
          +text-field({
            title: 'masked text field',
            isMasked: true
          })
        +layout__box({mt: 40})        
          +date-dropdown()
        +layout__box({mt: 40})
          +layout__box({basis: 266})
            +date-dropdown({type: 'filter'})
        +layout__box({mt: 40, mb: 100})
          +layout__box({basis: 266})
            +text-field({
              title: 'subscription text field',
              placeholder: 'Email',
              type: "email",
              isSubscription: true
            })

      +layout__box({basis: 260, direction: 'column', mr: 132, ml: 126})
        +checkbox-list({
          title: 'Rich Checkbox Buttons',
          items: [
          {text: "Можно курить"},
          {text: "Можно с питомцами", isChecked: true},
          {text: "Можно пригласить гостей (до 10 человек)", isChecked: true},
        ]})
        +layout__box({mt: 41})
          +label({title: 'Radio Buttons'}) 
        +layout__box({mt: 16})
          +radio-buttons
        +layout__box({mt: 37})
          +label({title: 'Toggle'})
        +layout__box({mt: 16})
          +toggle
        +layout__box({mt: 10})
          +toggle({isChecked: true})
        +layout__box({mt: 40})
          +label({title: 'like button'})
        +layout__box({mt: 16})
          +like-button({counter: 1, isLiked: true})
          +layout__box({ml: 10})
            +like-button({})
        +layout__box({mt: 40})
        +label({title: 'rate button'})
        +layout__box({mt: 16})
          +rate({quantity: 4})
          +layout__box({ml: 20})
            +rate

      +layout__box({basis: 320, direction: 'column'})  
        +label({title: 'buttons'}) 
        +layout__box({mt: 16}) 
          +button
          +layout__box({ml: 19}) 
            +button({
              isHovered: true,
            })
        +layout__box({mt: 30}) 
          +layout__box({width: 99}) 
            +button({
              type: 'outline',
            })
          +layout__box({ml: 20}) 
            +button({
              type: 'outline',
              isHovered: true,
            })
        +layout__box({mt: 31}) 
          +button({
            type: 'link',
          })
          +layout__box({ml: 20}) 
            +button({
              type: 'link',
              isHovered: true,
            })
        +layout__box({mt: 30}) 
          +button({
            type: 'long',
            text: 'перейти к оплате',
          })
        +layout__box({mt: 40}) 
          +label({title: 'pagination'})
        +layout__box({mt: 16}) 
          +pagination 

    +layout__box

      +layout__box({basis: 266, direction: 'column'})
        +dropdown({type: 'rooms'})
        +layout__box({mt: 20, mb: 159}) 
          +dropdown({type: 'rooms', counters: [5,4,7], isOpened: true})

      +layout__box({basis: 320, mr: 72, ml: 181})
        +dropdown({isOpened: true})

      +layout__box({basis: 320, direction: 'column'})
        +dropdown({counters: [2,1,0], isOpened: true})

    +layout__box

      +layout__box({basis: 266, direction: 'column'})
        +checkbox-list({
          title: 'expandable checkbox list',
          type: 'expanded',
          })
        +layout__box({mt: 35, mb: 102})
          +checkbox-list({
            title: 'expandable checkbox list',
            type: 'expanded',
            isOpened: true,
            })

      +layout__box({basis: 266, direction: 'column', ml: 180, mr: 126})
        +checkbox-list({
          title: 'Checkbox Buttons',
          type: 'rich',
          items: [
          {text: "Широкий коридор", 
          subText: 'Ширина коридоров в номере не менее 91 см.'},
          {text: "Помощник для инвалидов", 
          subText: 'На 1 этаже вас встретит специалист и проводит до номера.'},
        ]})

      +layout__box({basis: 292, direction: 'column'})
        +bullet-list

    +layout__box

      +layout__box({basis: 280, pb: 131})
        +icon-text-list

      +layout__box({basis: 712, align: 'right', pt: 10})
        +comment
