include ../../components/input/input
include ../../components/title/title
include ../../components/icon-text-list/icon-text-list
include ../../components/button/button
include ../../components/toggle/toggle

div(style="width: 500px; margin: auto; border: 1px solid red;")
  +input({
    titleText: "Text Field",
    hint: "Default"
    })
  +title({text: "test"})
  +icon-text-list(
    {items: [  
    {img: "smile", title: "Комфорт", text: "Шумопоглощающие стены"},
    {img: "house", title: "Удобство", text: "Окно в каждой из спален"},
  ]}
  )
  +button({
    link: '#',
    text: 'CLICK ME'
  })
  +button({
    type: 'link',
    link: '#',
    text: 'CLICK ME'
  })
  +button({
    type: 'outline',
    link: '#',
    text: 'CLICK ME'
  })
  +button({
    type: 'long',
    link: '#',
    text: 'CLICK ME'
  })
  +button({
    link: '#',
    text: 'CLICK ME',
    size: 'low',
  })
  +toggle
  +toggle({checked: true})