extends ../../templates/ui-kit

include ../../components/input/input
include ../../components/title/title
include ../../components/icon-text-list/icon-text-list
include ../../components/button/button
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/rate/rate
include ../../components/checkbox-list/checkbox-list 
include ../../components/radio-buttons/radio-buttons 
include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown/dropdown
include ../../components/pagination/pagination 
include ../../components/label/label
include ../../components/text-field/text-field

block title 
  | Form elements

block main
  +layout__container

    +layout__row

      +layout__column({basis: 320})
        +layout__row
          +layout__column({gap: 20})
            +text-field({
              title: 'Text Field',
              hasHint: true,
              hint: "Default",
              placeholder: 'Email',
              type: "email"
            })
            +text-field({
              isHovered: true,
              title: 'Text Field',
              hasHint: true,
              hint: "Default",
              value: "This is pretty awesome",
              placeholder: 'This is pretty awesome',
              type: "text"
            })
            +text-field({
              title: 'masked text field',
              isMasked: true
            })
            +input({
              titleText: "Text Field",
              hint: "Default",
              type: 'subscription'
            })
        +layout__row
          +layout__column({gap: 40, mt: 40})
            +input({
              titleText: "Text Field",
              hint: "Default",
              type: 'email'
            })
            +date-dropdown
            +layout__row
              +layout__column({gap: 40, mb: 100, basis: 266, grow: '0'})
                +date-dropdown
                +date-dropdown

      +layout__column({basis: 320, mr: 72, ml: 126})
        +checkbox-list({
          title: 'Rich Checkbox Buttons',
          items: [
          {text: "Можно курить"},
          {text: "Можно с питомцами", isChecked: true},
          {text: "Можно пригласить гостей (до 10 человек)", isChecked: true},
        ]})
        +radio-buttons
        +toggle
        +toggle({isChecked: true})
        +like-button({counter: 1, isLiked: true})
        +like-button({counter: 1})
        +layout__row
          +layout__column({mr: 20, grow: '0'})
            +rate({quantity: 4})
          +rate

      +layout__column({basis: 320})
        +label({text: 'pagination'})
        +layout__row
          +layout__column({gap: 30, mt: 16})
            +layout__row
              +layout__column({basis: 99, mr: 20, grow: '0'})
                +button({
                  text: 'click me'
                })
              +layout__column({basis: 99, grow: '0'})
                +button({
                  text: 'click me',
                  isHovered: true,
                })
            +layout__row
              +layout__column({basis: 99, mr: 20, grow: '0'})
                +button({
                  type: 'outline',
                  text: 'click me'
                })
              +layout__column({basis: 99, grow: '0'})
                +button({
                  type: 'outline',
                  isHovered: true,
                  text: 'click me'
                })
            +layout__row
              +layout__column({mr: 20, grow: '0'})
                +button({
                  type: 'link',
                  text: 'click me'
                })
              +layout__column
                +button({
                  type: 'link',
                  text: 'click me',
                  isHovered: true,
                })
            +layout__row 
              +button({
                type: 'long',
                text: 'перейти к оплате',
              })
        +pagination 

    +layout__row

      +layout__column({basis: 320})
        +dropdown({type: 'rooms'})
        +dropdown({type: 'rooms', counters: [5,4,7], isOpened: true})

      +layout__column({basis: 320, mr: 72, ml: 126})
        +dropdown({type: 'rooms', counters: [5,4,7], isOpened: true})

      +layout__column({basis: 320})
        +dropdown({type: 'rooms', counters: [5,4,7], isOpened: true})

    +layout__row

      +layout__column({basis: 320})
        +checkbox-list({
          title: 'expandable checkbox list',
          type: 'expanded',
          isClosed: true,
          items: [
          {text: "Завтрак"},
          {text: "Письменный стол", isChecked: true},
          {text: "Стул для кормления", isChecked: true},
          {text: "Кроватка", isChecked: true},
          {text: "Телевизор"},
          {text: "Шампунь"},
        ]})
        +checkbox-list({
          title: 'expandable checkbox list',
          type: 'expanded',
          isClosed: false,
          items: [
          {text: "Завтрак"},
          {text: "Письменный стол", isChecked: true},
          {text: "Стул для кормления", isChecked: true},
          {text: "Кроватка", isChecked: true},
          {text: "Телевизор"},
          {text: "Шампунь"},
        ]})

      +layout__column({basis: 320, mr: 72, ml: 126})
        +checkbox-list({
          title: 'Checkbox Buttons',
          type: 'rich',
          items: [
          {text: "Широкий коридор", 
          subText: 'Ширина коридоров в номере не менее 91 см.'},
          {text: "Помощник для инвалидов", 
          subText: 'На 1 этаже вас встретит специалист и проводит до номера.'},
        ]})

      +layout__column({basis: 320})
        +bullet-list({
          items: ['Нельзя с питомцами', 
          'Без вечеринок и мероприятий', 
          'Время прибытия — после 13:00, а выезд до 12:00'],
        })

    +layout__row

      +layout__column({basis: 280, grow: '0'})
        +icon-text-list(
          {items: [  
          {img: "smile", title: "Комфорт", text: "Шумопоглощающие стены"},
          {img: "house", title: "Удобство", text: "Окно в каждой из спален"},
        ]}
        )

      +layout__column({basis: 711, grow: '0'})
        +comment({
          authorName: 'Мурад Сарафанов',
          date: '5 дней назад',
          counter: 12,
          isLiked: true,
          text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
        })
