mixin rate(options)
  - const { quantity = 0 } = options || {};

  - var i = 0;
  - var starType = '';

  .rate
    while i < 5
      -
        starType = quantity > i ? '' : '_border'
        i += 1

      img.rate__img(
        src=require('../../components/rate/img/star' + starType + '.svg').default,
        alt='star' + starType
      )
