mixin rate(options)
  - const { quantity = 0 } = options || {};

  - var i = 0;
  - var starType = '';

  .rate
    while i < 5
      -
        starType = quantity > i ? 'star' : 'star_border'
        i += 1

      img(
        class = 'rate__img'
        src= require('../../components/rate/img/' + starType + '.svg').default,
        alt= starType
      )
