mixin rate(options)
  -
    const { quantity = 0 } = options || {};
    let i = 0;
    let starType = '';

  .rate
    while i < 5
      -
        starType = quantity > i ? 'star' : 'outline-star'
        i += 1

      img.rate__img(
        src=require("Images/content/" + starType + ".svg"),
        alt=starType
      )
