@use 'Style/constants/colors';

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 684px;
  background: no-repeat center center url(Images/content/registration-background.png);
  background-size: cover;

  &__form {
    padding: 0 10px;
    flex-basis: 400px;
  }
}
