extends ../../templates/website-pages/website-pages

include ../../components/registration-card/registration-card

block var
  -
    const description = 'Регистрация на сайте отеля';
    const keywords = 'отель, регистрация';

block title
  | Registration

block main
  .registration
    .registration__form
      +registration-card
