@import '../../style/variables.scss';

.p-registration {
  &__background {
    height: 100%;
    min-height: 57rem;
    background: no-repeat center center url(./img/background.png);
    background-size: cover;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
