@use '@style/constants/colors';

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 684px;
  background: url('@images/content/registration-background.jpg') no-repeat;
  background-size: cover;

  &__form {
    padding: 10px;
    flex-basis: 400px;
  }
}
