extends ../../templates/website-pages/website-pages

include ../../components/registration-card/registration-card

block title
  | Registration

block main
  .registration
    .registration__form  
      +registration-card
