@import "../../style/variables.scss";

.title {
  color: $color-first;

  &_type {
    &-h2 {
      font: normal bold 2rem/29px $font-first;
    }

    &-h3 {
      font: normal bold 19px/23px $font-first;
    }
  }
}
