mixin title(options)
  -
    const {
      text = '',
      type = '',
      hint = '',
    } = options || {}

    let tag = type
    let classes = ''
    classes = 'title__heading title__heading_type-' + tag

  .title
    #{tag}(class=classes)= text
    if hint !== ''
      span.title__hint= hint
