@import '../../style/variables.scss';

.title {
  color: $color-first;

  &_type {
    &-h2 {
      font: bold 24px/29px $font-first;
    }

    &-h3 {
      font: bold 19px/23px $font-first;
    }
  }
}
