mixin title(options)
  -
    const {
      text = 'title',
      type = 'h2',
    } = options || {}

  -
    var tag = type

  -
    var classes = ''
    classes = 'title title_type-' + tag

  #{tag}(class=classes)= text
