mixin title(options)
  -
    const {
      text = '',
      type = '',
      hint = '',
    } = options || {}

    const tag = type
    const tagClass = tag && `title__heading title__heading_type_${tag}`
    const classes = [tagClass]

  .title
    #{tag}(class=classes)= text
    if hint !== ''
      span.title__hint= hint
