.registration-card {
  &__name {
    margin-top: 20px;
  }

  &__surname {
    margin-top: 10px;
  }

  &__radio-buttons {
    margin-top: 10px;
  }

  &__birthday {
    margin-top: 24px;
  }

  &__email {
    margin-top: 20px;
  }

  &__password {
    margin-top: 10px;
  }

  &__toggle {
    margin-top: 10px;
  }

  &__submit-button {
    margin-top: 22px;
  }

  &__question-about-authentication {
    margin-top: 30px;
  }
}
