include ../question-form-about-auth/question-form-about-auth
include ../text-field/text-field
include ../radio-buttons/radio-buttons
include ../button/button
include ../toggle/toggle
include ../title/title
include ../card/card

mixin registration-card() 
  - 
    const {
      titles,
      textFields,
      button,
      questionAboutAuthentication
    } = require('Components/registration-card/data.json')

  .registration-card
    +card 
      form.registration-card__form(
        method="POST" 
        action="/change-it"
      ) 
        +title(titles.registration) 
        .registration-card__name
          +text-field(textFields.name)
        .registration-card__surname
          +text-field(textFields.surname)
        .registration-card__radio-buttons
          +radio-buttons
        .registration-card__birthday
          +title(titles.birthday)
          +text-field(textFields.birthday)
        .registration-card__email
          +title(titles.loginData)
          +text-field(textFields.email)
        .registration-card__password
          +text-field(textFields.password)
        .registration-card__toggle
          +toggle
        .registration-card__submit-button
          +button(button)
      .registration-card__question-about-authentication
        +question-form-about-auth(questionAboutAuthentication)
