include ../question-form-about-auth/question-form-about-auth
include ../text-field/text-field
include ../radio-buttons/radio-buttons
include ../button/button
include ../toggle/toggle
include ../title/title
include ../card/card

mixin registration-card() 
  - 
    const {
      titles,
      textFields,
      buttons,
      questionFormAboutAuth
    } = require('Components/registration-card/data.json')

  .registration-card
    +card 
      form.registration-card__form(
        method="POST" 
        action="/change-it"
      ) 
        +title(titles[0]) 
        .registration-card__name-wrapper
          +text-field(textFields[0])
        .registration-card__surname-wrapper
          +text-field(textFields[1])
        .registration-card__radio-buttons-wrapper
          +radio-buttons
        .registration-card__birthday-wrapper
          +title(titles[1])
          +text-field(textFields[2])
        .registration-card__email-wrapper
          +title(titles[2])
          +text-field(textFields[3])
        .registration-card__password-wrapper
          +text-field(textFields[4])
        .registration-card__toggle-wrapper
          +toggle
        .registration-card__button-wrapper
          +button(buttons[0])
      .registration-card__question-form-about-auth-wrapper
        +question-form-about-auth(questionFormAboutAuth[0])
