include ../card/card
include ../title/title
include ../text-field/text-field
include ../button/button
include ../question-form-about-auth/question-form-about-auth

mixin authorization()
  - 
    const {
      title, 
      textFields, 
      button, 
      questionAboutAuthorization
    } = require('Components/authorization/data.json')

  .authorization
    +card 
      form.authorization__form(method="POST", action="/change-it") 
        +title(title) 
        .authorization__login-input
          +text-field(textFields.email)
        .authorization__password-input
          +text-field(textFields.password)
        .authorization__submit-button
          +button(button)
      .authorization__question-about-authorization
        +question-form-about-auth(questionAboutAuthorization)
