include ../card/card
include ../heading/heading
include ../text-field/text-field
include ../button/button
include ../question-about-authorization/question-about-authorization

mixin authorization
  -
    const {
      title, 
      textFields, 
      button, 
      questionAboutAuthorization
    } = require('@components/authorization/data.json')

  .authorization
    +card
      form.authorization__form(method="POST", action="/change-it")
        +heading(Object.assign({variant: 'h2'}, title )) 
        .authorization__login-input
          +text-field(Object.assign({type: 'email', inputmode: 'email', name: 'email'}, textFields.email))
        .authorization__password-input
          +text-field(Object.assign({type: 'password', name: 'password'}, textFields.password))
        .authorization__submit-button
          +button(Object.assign({theme: 'long', type: 'submit'}, button))
      .authorization__question-about-authorization
        +question-about-authorization(questionAboutAuthorization)
