include ../wrapper/wrapper
include ../question-form-about-auth/question-form-about-auth
include ../text-field/text-field
include ../button/button
include ../title/title
include ../card/card

mixin authorization()

  .authorization
    +card 
      form.auth__form(method="POST", action="/change-it") 
        +wrapper({marginBottom: 20})
          +title({text: 'Войти'}) 
        +wrapper({marginBottom: 10})
          +text-field({ hasHeader: true, placeholder: 'Email', type: "text", name: "email" })
        +wrapper({marginBottom: 20})
          +text-field({ placeholder: 'Пароль', type: "text" })
        +wrapper({marginBottom: 30})
          +button({ type: 'long', text: 'войти' })
      +question-form-about-auth({questionText: "Нет аккаунта на Toxin?", buttonText: "создать", buttonLink: "/"})
