.authorization {
  &__login-input {
    margin-top: 20px;
  }

  &__password-input {
    margin-top: 10px;
  }

  &__submit-button {
    margin-top: 20px;
  }

  &__question-about-authorization {
    margin-top: 29px;
  }
}
