include ../card/card
include ../title/title
include ../text-field/text-field
include ../button/button
include ../question-form-about-auth/question-form-about-auth

mixin authorization()
  - 
    const {
      titles, 
      textFields, 
      buttons, 
      questionFormAboutAuths
    } = require('Components/authorization/data.json')

  .authorization
    +card 
      form.auth__form(method="POST", action="/change-it") 
        +title(titles[0]) 
        .authorization__login-text-field-wrapper
          +text-field(textFields[0])
        .authorization__password-text-field-wrapper
          +text-field(textFields[1])
        .authorization__button-wrapper
          +button(buttons[0])
      .authorization__question-form-about-auth-wrapper
        +question-form-about-auth(questionFormAboutAuths[0])
