.authorization {
  &__login-text-field-wrapper {
    margin-top: 20px;
  }

  &__password-text-field-wrapper {
    margin-top: 10px;
  }

  &__button-wrapper {
    margin-top: 20px;
  }

  &__question-form-about-auth-wrapper {
    margin-top: 28px;
  }
}
