@use '@style/constants/colors';

.typography {
  display: flex;
  justify-content: space-between;
  word-break: break-word;

  &__heading {
    color: colors.$first;
    font-weight: bold;
    margin: 0;

    &_type {
      &_h2 {
        font-size: 24px;
        line-height: 29px;
      }

      &_h3 {
        font-size: 19px;
        line-height: 23px;
      }

      &_h4 {
        text-transform: uppercase;
        padding-bottom: 5px;
      }
    }
  }

  &__hint {
    line-height: 15px;
    text-transform: uppercase;
    color: rgb(colors.$first, 0.5);
    float: right;
  }
}
