mixin typography(options)
  -
    const {
      text = '',
      variant = '',
      hint = '',
    } = options || {}

    const getTag = (variant) => {
      return variant
    }

    const tag = getTag(variant)
    const tagClass = `typography__heading typography__heading_type_${variant}`
    const classes = [tagClass]

  .typography
    #{tag}(class=classes)= text
    if hint !== ''
      span.typography__hint= hint
