mixin typography(options)
  -
    const {
      tagMapping,
      text = '',
      variant = '',
      isBold = false
    } = options || {}

    const getTag = (variant) => {
      if (variant.indexOf('body') !== -1) {
        return 'p'
      }

      return variant
    }

    const tag = tagMapping ? tagMapping : getTag(variant)
    const tagClass = `typography typography_type_${variant}`
    const boldClass = isBold && 'typography_bold'
    const classes = [tagClass, boldClass]

  #{tag}(class=classes)!= text
