include ../svg/icons/logotype/logotype
include ../svg/theme/gradient/gradient

mixin logo(options)
  -
    const {
      type = ''
    } = options || {}

  a.logo(href="./index.html")
    if type === 'full'
      -
        const svg = require("!raw-loader!@images/decorative/logo-text.svg").default;

        const {nanoid} = require('nanoid/non-secure')
        const firstSVGgradientID = `id-${nanoid()}`
        const secondSVGgradientID = `id-${nanoid()}`

      +gradient({id: firstSVGgradientID, startColor: '#BC9CFF', endColor: '#8BA4F9'})
      +gradient({id: secondSVGgradientID, startColor: '#6FCF97', endColor: '#66D2EA'})
      svg.logo__icon.logo__icon_type_full
        != svg
        +logotype({firstSVGgradientID, secondSVGgradientID})
    else
      - const svg = require("!raw-loader!@images/decorative/logo.svg").default;

      svg.logo__icon
        != svg
