mixin logo(options)
  -
    const {
      type = 'logo'
    } = options || {}

  a(
    class = 'logo'
    href = "./index.html"
  ) 
    img(
      class = 'logo__img'
      src = require(`../../components/logo/img/${type}.svg`).default
      alt = "Toxin"
    )
