mixin logo(options)
  -
    const {
      type = 'default'
    } = options || {}

  a.logo(href = "./index.html") 
    img(
      class = 'logo__img'
      src = require(`../../components/logo/img/${type}.svg`)
      alt = "Toxin"
    )
