mixin logo(options)
  -
    const {
      type = ''
    } = options || {}

  a.logo(href = "./index.html") 
    img(
      class = 'logo__img'
      src = require(`Images/content/${type}.svg`)
      alt = "Toxin"
    )
