mixin logo(options)
  if !options
    - options = {}
  if !options.type
    - options.type = 'logo'
  if options.type === 'mini'
    - options.type = 'logo-mini'

  a.logo(href="./index.html") 
    img.logo__img(
      src=require(`../../components/logo/img/${options.type}.svg`).default 
      alt="Toxin"
      height="40px"
    )
