@import '../../style/variables.scss';

.label {
  &__title {
    font: normal bold 1rem/1.25rem $font-first;
    text-transform: uppercase;
    color: $color-first;
  }

  &__hint {
    font: normal normal 1rem/1.25rem $font-first;
    text-transform: uppercase;
    color: rgba($color-first, 0.5);
    float: right;
  }
}
