@import '../../style/variables.scss';

.label {
  line-height: 20px;

  &__title {
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__hint {
    line-height: 15px;
    text-transform: uppercase;
    color: rgba($color-first, 0.5);
    float: right;
  }
}
