mixin label(options)
  -
    const {
      title='label',
      hint=''
    } = options || {}

  label.label 
    .label__header
      span.label__title= title
      if hint !== ''
        span.label__hint= hint
    block
