@use 'Style/constants/colors';

.question-about-authorization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  &__text {
    font-size: 14px;
    line-height: 18px;
    color: black;
  }
}
