include ../button/button

mixin question-about-authorization(options)
  -
    const {
      questionText,
      buttonLink,
      buttonText
    } = options || {}

  .question-about-authorization
    p.question-about-authorization__text= questionText
    +button({theme: 'outlined', isLink: true, link: buttonLink, text: buttonText})
