@import '../../style/variables.scss';

.checkbox-list {
  width: 100%;
  display: grid;
  gap: 0.8333rem;

  &_rich &__text {
    font-weight: bold;
    color: $color-first-75;
  }

  // &_expanded &__list {
  //   display: none;
  // }

  // &_opened &__list {
  //   display: grid;
  // }

  // &_opened &__button {
  //   transform: rotate(180deg);
  // }

  // &__header {
  //   margin-bottom: 1.3333rem;
  //   display: flex;
  //   justify-content: space-between;
  // }

  // &__button {
  //   background-color: white;
  //   border: none;
  //   cursor: pointer;
  //   line-height: 15px;
  //   color: $color-first-50;
  // }

  // &__list {
  //   display: grid;
  //   gap: 0.8333rem;
  // }

  &__item {
    list-style: none;
  }

  &__label {
    padding-left: 2.5rem;
    position: relative;
    display: block;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__input:checked + &__text {
    &::before {
      border-color: $color-second;
    }

    &::after {
      content: '';
      border-bottom: 2px solid $color-second;
      border-right: 2px solid $color-second;
      transform: rotate(45deg);
      width: 0.3333rem;
      height: 0.5rem;
      position: absolute;
      display: block;
      top: 0.4167rem;
      left: 0.6667rem;
    }
  }

  &__text {
    font-size: 1.1667rem;
    line-height: 1.6667rem;
    color: $color-first-50;

    &::before {
      content: '';
      border: 1px solid $color-first-25;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      display: block;
      border-radius: 4px;
      left: 0;
    }
  }

  &__sub-text {
    font-size: 1rem;
    line-height: 1.1667rem;
    color: $color-first-50;
    margin-top: 0.3333rem;
  }
}
