include ../typography/typography

mixin checkbox-list(options)
  -
    const {  
      isRich = false,
      items = [
        {text: '', isChecked: false},
      ],
    } = options || {}

    const richClass = isRich && 'checkbox-list_rich'
    const classes = [richClass]

  ul.checkbox-list(class=classes)
    each item in items 
      li.checkbox-list__item
        label.checkbox-list__label
          input.checkbox-list__input(type="checkbox", checked=item.isChecked)
          span.checkbox-list__icon
          if isRich
            .checkbox-list__text
              +typography({text: item.text, variant: 'body5', isBold: true, tagMapping: 'span'})
          else
            .checkbox-list__text
              +typography({text: item.text, variant: 'body2', isBold: false, tagMapping: 'span'})
        if isRich
          .checkbox-list__sub-text
            +typography({text: item.subText, variant: 'body4', isBold: false})
