@use '@style/constants/colors';
@use '@style/constants/gradients';
@use '@style/constants/shadows';

.checkbox-list {
  $root: &;

  display: grid;
  gap: 10px;
  padding: 0;
  margin: 0;

  &__item {
    list-style: none;
  }

  &__label {
    display: flex;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;

    &:focus {
      & ~ #{$root}__icon {
        box-shadow: shadows.$second;
      }
    }

    &:checked {
      & ~ #{$root}__icon {
        border-color: colors.$second;

        &::after {
          content: '';
          display: block;
          border-image: gradients.$first;
          border-image-slice: 1;
          border-style: solid;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          width: 5px;
          height: 6px;
          margin-top: 3px;
        }
      }
    }
  }

  &__icon {
    content: '';
    border: 1px solid rgb(colors.$first, 0.25);
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
  }

  &__text {
    cursor: pointer;
    display: block;
    padding-top: 1px;
  }

  &__sub-text {
    padding-top: 4px;
    padding-left: 30px;
  }
}
