@use 'Style/constants/colors';

.checkbox-list {
  $root: &;

  display: grid;
  gap: 12px;
  padding: 0;
  margin: 0;

  &_rich {
    gap: 10px;

    & #{$root}__text {
      font-weight: bold;
      color: rgba(colors.$first, 0.75);
    }
  }

  &__item {
    list-style: none;
  }

  &__label {
    padding-left: 30px;
    position: relative;
    display: block;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    opacity: 0;

    &:focus + #{$root}__text {
      &::before {
        box-shadow: 0 0 10px rgba(colors.$first, 30%);
      }
    }

    &:checked + #{$root}__text {
      &::before {
        border-color: colors.$second;
      }

      &::after {
        content: '';
        display: block;
        border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-image-slice: 1;
        border-style: solid;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        width: 5px;
        height: 6px;
        position: absolute;
        top: 5px;
        left: 6px;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    color: rgba(colors.$first, 0.5);
    white-space: pre-line;

    &::before {
      content: '';
      border: 1px solid rgba(colors.$first, 0.25);
      width: 18px;
      height: 18px;
      position: absolute;
      display: block;
      border-radius: 4px;
      left: 0;
    }
  }

  &__sub-text {
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    white-space: pre-line;
    color: rgba(colors.$first, 0.5);
    display: block;
  }
}
