include ../title/title

mixin checkbox-list(options)

  if options.isClosed && options.type === "expanded"
    - options.isClosed = true

  -
    var textClasses = ''
    textClasses += options.type === "rich" ? 'checkbox-list__text_bold' : ''
    var checkboxListClasses = ''
    checkboxListClasses += options.type === "expanded" ? 'js-checkbox-list' : ''
    var listClasses = ''
    listClasses += options.isClosed ? 'js-checkbox-list__list_closed' : ''
    var buttonClasses = ''
    buttonClasses += options.isClosed ? '' : 'js-checkbox-list__button_inverted'

  .checkbox-list(class = checkboxListClasses)
    .checkbox-list__header
      +title({text: options.title})
      if options.type === "expanded"
        button.checkbox-list__button.js-checkbox-list__button(class = buttonClasses)
    ul.checkbox-list__list.js-checkbox-list__list(class = listClasses)
      each item in options.items 
        li.checkbox-list__item
          label.checkbox-list__label
            input.checkbox-list__input(type="checkbox" checked = item.isChecked)
            span.checkbox-list__text(class=textClasses)= item.text
            if options.type === "rich"
              p.checkbox-list__sub-text= item.subText
