include ../title/title

mixin checkbox-list({title='title', type='', isOpened=false, items=[{text:'example', isChecked: true}]})

  -
    var classes = ''
    classes += ' checkbox-list_' + type
    classes += type === 'expanded' && isOpened === false ? ' checkbox-list_closed' : ''

  .checkbox-list.js-checkbox-list(class = classes)
    .checkbox-list__header
      +title({text: title})
      if type === "expanded"
        button.checkbox-list__button.js-checkbox-list__button.material-icons expand_more
    ul.checkbox-list__list
      each item in items 
        li.checkbox-list__item
          label.checkbox-list__label
            input.checkbox-list__input(type="checkbox" checked = item.isChecked)
            span.checkbox-list__text= item.text
            if type === "rich"
              p.checkbox-list__sub-text= item.subText
