mixin layout()
  .layout
    block

mixin layout__header()
  header.layout__header
    block

mixin layout__main()
  main.layout__main
    block

mixin layout__footer()
  footer.layout__footer
    block

mixin layout__container
  .layout__container
    block

mixin layout__row
  .layout__row
    block

mixin layout__column(options)
  if !options
    - options = {}

  -
    var classes = ''
    classes += options.grow ? ' layout__column_grow-' + options.grow : ''
    classes += options.shrink ? ' layout__column_shrink-' + options.shrink : ''
    classes += options.basis ? ' layout__column_basis-' + options.basis : ''
    classes += options.gap ? ' layout__column_gap-' + options.gap : ''
    classes += options.mt ? ' layout__column_mt-' + options.mt : ''
    classes += options.mr ? ' layout__column_mr-' + options.mr : ''
    classes += options.mb ? ' layout__column_mb-' + options.mb : ''
    classes += options.ml ? ' layout__column_ml-' + options.ml : ''
    classes += options.pt ? ' layout__column_pt-' + options.pt : ''
    classes += options.pr ? ' layout__column_pr-' + options.pr : ''
    classes += options.pb ? ' layout__column_pb-' + options.pb : ''
    classes += options.pl ? ' layout__column_pl-' + options.pl : ''

  .layout__column(class= classes)
    block
