@use '@style/constants/colors';

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    flex: 0 0 auto;
  }

  &__main {
    flex: 1 0 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }
}
