@import "../../style/variables.scss";

$container-width: (1160 / $font-size) + rem;

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    flex: 0 0 auto;
  }

  &__main {
    flex: 1 0 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }

  &__container {
    max-width: $container-width;
    margin: 0 auto;

    @include media-breakpoint-down($lg) {
      padding: 0 1.6667rem;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;

    &_grow-0 {
      flex-grow: 0;
    }

    &_shrink-0 {
      flex-shrink: 0;
    }

    @for $i from 1 to 1000 {
      &_basis-#{$i} {
        flex-basis: ($i / $font-size) + rem;
      }

      &_gap-#{$i} {
        gap: ($i / $font-size) + rem;
      }

      &_mt-#{$i} {
        margin-top: ($i / $font-size) + rem;
      }

      &_mr-#{$i} {
        margin-right: ($i / $font-size) + rem;
      }

      &_mb-#{$i} {
        margin-bottom: ($i / $font-size) + rem;
      }

      &_ml-#{$i} {
        margin-left: ($i / $font-size) + rem;
      }

      &_pt-#{$i} {
        padding-top: ($i / $font-size) + rem;
      }

      &_pr-#{$i} {
        padding-right: ($i / $font-size) + rem;
      }

      &_pb-#{$i} {
        padding-bottom: ($i / $font-size) + rem;
      }

      &_pl-#{$i} {
        padding-left: ($i / $font-size) + rem;
      }
    }
  }
}
