mixin layout()
  .layout
    block

mixin layout__header()
  header.layout__header
    block

mixin layout__main()
  main.layout__main
    block

mixin layout__footer()
  footer.layout__footer
    block

mixin layout__container
  .layout__container
    block

mixin layout__box(options)
  
  -
    const {
      isContainer,
      align,
      grow,
      shrink,
      basis,
      direction,
      mt,
      mr,
      mb,
      ml,
      pt,
      pr,
      pb,
      pl,
      mix
    } = options || {}

  -
    var classes = ''
    classes += isContainer ? ' layout__box_container' : ''
    classes += align ? ' layout__box_align-' + align : ''
    classes += basis ? ' layout__box_basis-' + basis : ''
    classes += grow ? ' layout__box_grow-' + grow : ''
    classes += shrink ? ' layout__box_shrink-' + shrink : ''
    classes += direction ? ' layout__box_' + direction : ''
    classes += mt ? ' layout__box_mt-' + mt : ''
    classes += mr ? ' layout__box_mr-' + mr : ''
    classes += mb ? ' layout__box_mb-' + mb : ''
    classes += ml ? ' layout__box_ml-' + ml : ''
    classes += pt ? ' layout__box_pt-' + pt : ''
    classes += pr ? ' layout__box_pr-' + pr : ''
    classes += pb ? ' layout__box_pb-' + pb : ''
    classes += pl ? ' layout__box_pl-' + pl : ''
    classes += mix ? ' ' + mix : ''

  .layout__box(class= classes)
    block
