include ../like-button/like-button

mixin comment(options)
  if !options
    - options = {}

  .comment 
    img.comment__img(src=require(`../../components/comment/img/murad.jpg`).default alt='Фото автора')
    .comment__header 
      span.comment__author-name= options.authorName
      span.comment__date= options.date
    .comment__like-button
      +like-button({counter: options.counter, isLiked: options.isLiked})
    p.comment__text= options.text
    
