include ../like-button/like-button
include ../typography/typography

mixin comment(options)
  -
    const {
      authorName = '',
      image = '',
      date = '',
      datetime = '',
      counter = 0,
      isLiked = false,
      text = '',
    } = options || {}

  .comment
    img.comment__img(
      src=require(`@images/content/${image}.jpg`),
      alt=`Фото автора ${authorName}`
    )
    .comment__header
      +typography({text: authorName, variant: 'body', isBold: true, tagMapping: 'span'})
      time.comment__date(datetime=datetime)
        +typography({text: date, variant: 'body', isBold: false, tagMapping: 'span'})
    .comment__like-button
      +like-button({counter, isLiked})
    .comment__text
      +typography({text, variant: 'body', isBold: false})
