include ../../components/layout/layout

- 
  var links = [
    {link: './colors-and-type.html', text: 'Colors and type'},
    {link: './form-elements.html', text: 'Form elements'},
    {link: './cards.html', text: 'Cards'},
    {link: './headers-and-footers.html', text: 'Headers and footers'},
    {link: './registration-and-sing-in.html', text: 'Registration and sing-in'},
    {link: './landing-page.html', text: 'Landing page'},
  ]

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Toxin
  body
    +layout__container
      +layout__column({mt: 100, gap: 10})
        each link in links
          a(href=link.link)= link.text