extends ../../templates/ui-kit/ui-kit

include ../../components/links-to-pages/links-to-pages

block title
  | Title

block var
  - const withThemeGray = true

block main
  - const {linksToPages} = require('./data.json')

  +links-to-pages(linksToPages[0])