mixin wrapper(options)
  -
    const {
      marginTop,
      marginRight,
      marginBottom,
      marginLeft,
      paddingTop,
      paddingRight,
      paddingBottom,
      paddingLeft,
    } = options || {}

  -
    var classes = ''
    classes += marginTop ? ' wrapper_margin-top-' + marginTop : ''
    classes += marginRight ? ' wrapper_margin-right-' + marginRight : ''
    classes += marginBottom ? ' wrapper_margin-bottom-' + marginBottom : ''
    classes += marginLeft ? ' wrapper_margin-left-' + marginLeft : ''
    classes += paddingTop ? ' wrapper_padding-top-' + paddingTop : ''
    classes += paddingRight ? ' wrapper_padding-right-' + paddingRight : ''
    classes += paddingBottom ? ' wrapper_padding-bottom-' + paddingBottom : ''
    classes += paddingLeft ? ' wrapper_padding-left-' + paddingLeft : ''

  .wrapper(class=classes)
    block