@import '../../style/variables.scss';

.wrapper {
  width: 100%;

  @for $i from 1 to 2000 {
    &_width-#{$i} {
      max-width: $i + px;
    }
    &_flex-basis-#{$i} {
      flex-basis: $i + px;
    }

    &_margin-top-#{$i} {
      margin-top: $i + px;
    }

    &_margin-right-#{$i} {
      margin-right: $i + px;
    }

    &_margin-bottom-#{$i} {
      margin-bottom: $i + px;
    }

    &_margin-left-#{$i} {
      margin-left: $i + px;
    }

    &_padding-top-#{$i} {
      padding-top: $i + px;
    }

    &_padding-right-#{$i} {
      padding-right: $i + px;
    }

    &_padding-bottom-#{$i} {
      padding-bottom: $i + px;
    }

    &_padding-left-#{$i} {
      padding-left: $i + px;
    }
  }
}
