include ../../components/calendar/calendar
include ../../components/label/label
include ../../components/dropdown-field/dropdown-field
include ../../components/dropdown-menu/dropdown-menu
include ../../components/range-slider/range-slider
include ../../components/checkbox-list/checkbox-list
include ../../components/dropdown-list/dropdown-list
include ../../components/toggle/toggle
include ../../components/button/button

mixin filter()
  - 
    const {
      labels,
      dropdownMenus,
      rangeSliders, 
      checkboxLists,
      buttons,
      dropdownLists
    } = require('Components/filter/data.json')


  .filter.js-filter
    .filter__items
      +calendar
        +label(labels[0])
          +dropdown-field
      .filter__dropdown-menu-guests-wrapper
        +dropdown-menu()
          +label(labels[1])
            +dropdown-field
      .filter__range-slider-wrapper 
        +range-slider(rangeSliders[0])
        p.filter__range-text Стоимость за сутки пребывания в номере
      .filter__rules-wrapper
        +label(labels[2])
          +checkbox-list(checkboxLists[0])
      .filter__availability-wrapper
        +label(labels[3])
          +checkbox-list(checkboxLists[1])
      .filter__dropdown-menu-rooms-wrapper
        +dropdown-menu()
          +label(labels[4])
            +dropdown-field
      .filter__dropdown-list-wrapper
        +dropdown-list(dropdownLists[0])
          +checkbox-list
    .filter__toggle-button.js-filter__toggle-button 
      +button(buttons[0])