@use '@style/constants/colors';
@use '@style/constants/mixins';
@use '@style/constants/display-sizes';

.filter {
  $root: &;

  &_opened {
    & #{$root}__form {
      display: block;
    }
  }

  &__form {
    display: block;

    @include mixins.media-breakpoint-down(display-sizes.$md) {
      display: none;
    }
  }

  &__guests-dropdown {
    margin-top: 22px;
  }

  &__range-slider {
    margin-top: 30px;
  }

  &__range-text {
    margin-top: 14px;
    margin-bottom: 0;
    color: rgba(colors.$first, 0.5);
  }

  &__rules-title {
    margin-top: 30px;
  }

  &__rules {
    margin-top: 11px;
  }

  &__availability-title {
    margin-top: 32px;
  }

  &__availability {
    margin-top: 12px;
    width: 260px;
  }

  &__rooms-dropdown {
    margin-top: 30px;
  }

  &__dropdown-list {
    margin-top: 30px;
    width: 250px;
  }

  &__toggle-button {
    margin-top: 30px;
    justify-content: center;
    display: none;

    @include mixins.media-breakpoint-down(display-sizes.$md) {
      display: flex;
    }
  }
}
