@import 'Style/variables';

.filter {
  &_opened &__items {
    display: block;
  }

  &__items {
    display: block;

    @include media-breakpoint-down($md) {
      display: none;
    }
  }

  &__dropdown-menu-guests-wrapper {
    margin-top: 21px;
  }

  &__range-slider-wrapper {
    margin-top: 30px;
  }

  &__range-text {
    margin-top: 14px;
    color: rgba($color-first, 0.5);
  }

  &__rules-title-wrapper {
    margin-top: 28px;
  }

  &__rules-wrapper {
    margin-top: 12px;
  }

  &__availability-title-wrapper {
    margin-top: 32px;
  }

  &__availability-wrapper {
    margin-top: 12px;
    width: 260px;
  }

  &__dropdown-menu-rooms-wrapper {
    margin-top: 30px;
  }

  &__dropdown-list-wrapper {
    margin-top: 31px;
    width: 255px;
  }

  &__toggle-button {
    margin-top: 30px;
    justify-content: center;
    display: none;

    @include media-breakpoint-down($md) {
      display: flex;
    }
  }
}
