include ../calendar/calendar
include ../title/title
include ../dropdown/dropdown
include ../range-slider/range-slider
include ../checkbox-list/checkbox-list
include ../dropdown-list/dropdown-list
include ../toggle/toggle
include ../button/button

mixin filter
  -
    const {
      titles,
      dropdowns,
      rangeSlider, 
      checkboxLists,
      button,
      dropdownList,
      rangeText,
      calendar,
    } = require('Components/filter/data.json')


  .filter.js-filter
    form.filter__form
      +calendar(Object.assign({hasTwoInputs: false}, calendar))
      .filter__guests-dropdown
        +dropdown(Object.assign({isOpened: false, type: 'guests'}, dropdowns.guests))
      .filter__range-slider
        +range-slider(rangeSlider)
        p.filter__range-text= rangeText
      .filter__rules-title
        +title(Object.assign({type: 'h4'}, titles.rules))
      .filter__rules
        +checkbox-list(checkboxLists.rules)
      .filter__availability-title
        +title(Object.assign({type: 'h4'}, titles.availability))
      .filter__availability
        +checkbox-list(Object.assign({isRich: true},checkboxLists.availability))
      .filter__rooms-dropdown
        +dropdown(Object.assign({isOpened: false, type: 'rooms'}, dropdowns.rooms))
      .filter__dropdown-list
        +dropdown-list(dropdownList)
          +checkbox-list(Object.assign({isRich: false},checkboxLists.additions))
    .filter__toggle-button.js-filter__toggle-button
      +button(Object.assign({theme: 'outlined', type: 'button'},button))
