include ../calendar/calendar
include ../title/title
include ../dropdown-field/dropdown-field
include ../dropdown-menu/dropdown-menu
include ../range-slider/range-slider
include ../checkbox-list/checkbox-list
include ../dropdown-list/dropdown-list
include ../toggle/toggle
include ../button/button

mixin filter
  -
    const {
      titles,
      dropdownMenus,
      rangeSlider, 
      checkboxLists,
      button,
      dropdownList,
      rangeText,
    } = require('Components/filter/data.json')


  .filter.js-filter
    .filter__items
      +calendar
      .filter__guests-dropdown-menu
        +dropdown-menu(Object.assign({isOpened: false, type: 'guests'},dropdownMenus.guests))
          +title(Object.assign({type: 'h4'}, titles.guests))
          +dropdown-field
      .filter__range-slider
        +range-slider(rangeSlider)
        p.filter__range-text= rangeText
      .filter__rules-title
        +title(Object.assign({type: 'h4'}, titles.rules))
      .filter__rules
        +checkbox-list(checkboxLists.rules)
      .filter__availability-title
        +title(Object.assign({type: 'h4'}, titles.availability))
      .filter__availability
        +checkbox-list(Object.assign({isRich: true},checkboxLists.availability))
      .filter__rooms-dropdown-menu
        +dropdown-menu(Object.assign({isOpened: false, type: 'rooms'},dropdownMenus.rooms))
          +title(Object.assign({type: 'h4'}, titles.conveniences))
          +dropdown-field
      .filter__dropdown-list
        +dropdown-list(dropdownList)
          +checkbox-list(Object.assign({isRich: false},checkboxLists.additions))
    .filter__toggle-button.js-filter__toggle-button
      +button(Object.assign({theme: 'outline', type: 'button'},button))
