include ../../components/input/input
include ../../components/button/button
include ../../components/radio-buttons/radio-buttons 

mixin card(options)

  .card
    case options.type

      when 'login'
        .card__header Войти
        .card__inputs-group.card__inputs-group_margin-bottom-20
          +input({})
          +input({})
        +button({
          type: 'long',
          link: './login.html',
          text: 'Войти'
        })
        .card__footer
          span.card__question Нет аккаунта на Toxin?
          +button({
            type: 'outline',
            link: '#',
            text: 'создать'
          })

      when 'registration'
        .card__header Регистрация аккаунта
        .card__inputs-group
          +input({})
          +input({})
        +radio-buttons 