include ../../components/input/input
include ../../components/button/button
include ../../components/radio-buttons/radio-buttons
include ../../components/login/login
include  ../../components/registration/registration

mixin card(options)

  -
    var card = {}

  if options.type === 'login'
    -
      card = {
        header: "Войти",
        hasFooter: true,
        button: 'Войти',
        footerButton: 'создать',
        question: 'Нет аккаунта на Toxin?',
      }
  else if options.type === 'registration'
    -
      card = {
        header: "Регистрация аккаунта",
        hasFooter: true,
        button: 'перейти к оплате',
        footerButton: 'войти',
        question: 'Уже есть аккаунт на Toxin?',
      }

  .card
    .card__header= card.header

    case options.type
      when 'login'
        +login
      when 'registration'
        +registration

    +button({
      type: 'long',
      link: './login.html',
      text: card.button
    })

    .card__footer
      span.card__question= card.question
      +button({
        type: 'outline',
        link: '#',
        text: card.footerButton
      })