@use '@style/constants/colors';

.icon-text-list {
  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    padding: 20px 0;
    border-bottom: solid 1px rgba(colors.$first, 0.1);

    &:first-child {
      padding-top: 0;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    padding-left: 4px;
    padding-top: 4px;
  }

  &__content {
    font-size: 14px;
    line-height: 24px;
    margin-left: 10px;
    color: rgba(colors.$first, 0.75);
    word-break: break-word;
  }

  &__title {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
}
