include ../svg/theme/gradient/gradient
include ../typography/typography

mixin icon-text-list(options)
  -
    const {
      items = [  
        {img: '', title: '', text: ''},
      ]
    } = options || {}

    const {nanoid} = require('nanoid/non-secure')
    const SVGgradientID = `id-${nanoid()}`
  .icon-text-list
    .icon-text-list__gradient
      +gradient({id: SVGgradientID, startColor: '#BC9CFF', endColor: '#8BA4F9'})
    ul.icon-text-list__list
      each item in items
        li.icon-text-list__item
          svg.icon-text-list__icon(fill=`url(#${SVGgradientID})`)
            - const svg = require(`!raw-loader!@images/decorative/${item.img}.svg`).default;
            != svg
          .icon-text-list__content
            +typography({text: item.title, variant: 'body', tagMapping: 'h3'})
            +typography({text: item.text, variant: 'body', tagMapping: 'span'})
