include ./img/house.svg

mixin icon-text-list(options)
  if !options
    - options = {}

  .icon-text-list
    each item in options.items
      .icon-text-list__item
        img.icon-text-list__img(src=require(`./img/${item.img}.svg`).default)
        .icon-text-list__content
          span.icon-text-list__title= item.title
          span.icon-text-list__text= item.text