@import '../../style/variables.scss';

.calendar {
  position: relative;

  &_opened {
    position: static;
  }

  &_opened &__menu {
    display: block;
    position: static;
    margin-top: 0;
  }

  &__menu {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 20px 20px 19px 20px;
    background: white;
    border: 1px solid rgba($color-first, 0.25);
    box-shadow: 0px 10px 20px rgba($color-first, 0.05);
    border-radius: 4px;
    margin-top: 5px;

    &_visible {
      display: block;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
  }
}
