include ../calendar-menu/calendar-menu
include ../text-field/text-field
include ../title/title

mixin calendar(options)
  -
    const {
      textFrom = '',
      textTo = '',
      hasTwoInputs = false
    } = options || {}

  .calendar
    +calendar-menu
      if hasTwoInputs
        .calendar__input
          +title({text: textTo, type: 'h4'})
          +text-field({isMasked: true, maskedType:'single'})
        .calendar__input
          +title({text: textFrom, type: 'h4'})
          +text-field({isMasked: true, maskedType:'single'})
      else
        .calendar__input
          +title({text: textFrom, type: 'h4'})
          +text-field({isMasked: true, maskedType:'double'})
