include ../calendar-menu/calendar-menu
include ../text-field/text-field
include ../typography/typography

mixin calendar(options)
  -
    const {
      textFrom = '',
      textTo = '',
      hasTwoInputs = false
    } = options || {}

    const {
      textFields,
    } = require('@components/calendar/data.json')

  .calendar
    +calendar-menu
      if hasTwoInputs
        .calendar__input
          +typography({text: textFrom, tag: 'h4'})
          +text-field(Object.assign({name: 'date-from', isMasked: true, maskedType:'date', isDropdown: true, inputmode: 'numeric'}, textFields.single))
        .calendar__input
          +typography({text: textTo, tag: 'h4'})
          +text-field(Object.assign({name: 'date-to', isMasked: true, maskedType:'date', isDropdown: true, inputmode: 'numeric'}, textFields.single))
      else
        .calendar__input
          +typography({text: textFrom, tag: 'h4'})
          +text-field(Object.assign({name: 'date', isMasked: true, maskedType:'dates', isDropdown: true, inputmode: 'numeric'}, textFields.double))
