include ../calendar-menu/calendar-menu
include ../dropdown-field/dropdown-field
include ../title/title

mixin calendar(options)
  - 
    const {
      textFrom = '',
      textTo = '',
      hasTwoInputs = false
    } = options || {}

  .calendar
    +calendar-menu
      .calendar__input
        +title({ "text": textFrom, "type": "h4" })
        +dropdown-field
      if hasTwoInputs
        .calendar__input
          +title({ "text": textTo, "type": "h4" })
          +dropdown-field
          