include ../button/button

mixin calendar
  .calendar
    .calendar__datepicker
    .calendar__buttons
      .calendar__cancel
        +button({type: 'link'})
      .calendar__apply
        +button({type: 'link'})
