@import '../../style/variables.scss';

.calendar {
  position: relative;

  &__menu {
    display: none;
    position: absolute;
    z-index: 100;
    width: 26.6667rem;
    padding: 1.6667rem;
    background: white;
    border: 0.0833rem solid rgba($color-first, 0.25);
    box-shadow: 0px 0.8333rem 1.6667rem rgba($color-first, 0.05);
    border-radius: 0.3333rem;
    margin-top: 0.4167rem;

    &__visible {
      display: block;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}

.datepicker {
  &--nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    &-action {
      height: 2rem;
      width: 2rem;
      color: $color-second;
      cursor: pointer;
    }

    &-title {
      font: bold 1.5833rem/2rem $font-first;
      color: $color-first;
      cursor: pointer;
    }
  }

  &--body {
    display: none;

    &.active {
      display: block;
    }
  }

  &--days-names {
    display: flex;
  }

  &--day-name {
    flex-grow: 1;
    font: bold 1rem/3.3333rem $font-first;
    color: $color-second;
    text-align: center;
  }

  &--cells {
    display: flex;
    flex-wrap: wrap;
  }

  &--cell {
    cursor: pointer;

    &-day {
      width: calc(100% / 7);
      text-align: center;
      font: 1rem/3.3333rem $font-first;
      color: rgba($color-first, 0.5);
      position: relative;

      &.-other-month- {
        color: rgba($color-first, 0.25);
      }

      &.-in-range- {
        background: rgba($color-second, 0.25);
      }

      &.-current- {
        color: #ffffff;
        font-weight: bold;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        border-radius: 1.8333rem;
      }

      &.-selected- {
        font-weight: bold;
        color: #ffffff;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 1.8333rem;
      }

      &.-range-from-::before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 1.8333rem 0 0 1.8333rem;
        background: linear-gradient(
          180deg,
          rgba($color-second, 0.25) 0%,
          rgba(139, 164, 249, 0.25) 100%
        );
      }

      &.-range-to-::before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(
          180deg,
          rgba($color-second, 0.25) 0%,
          rgba(139, 164, 249, 0.25) 100%
        );
        border-radius: 0 22px 22px 0;
      }

      &.-disabled- {
        cursor: default;
        background: white;

        &::before {
          content: none;
        }
      }
    }

    &-month {
      width: calc(100% / 3);
      text-align: center;
      font: 1rem/3.3333rem $font-first;
      color: rgba($color-first, 0.5);
    }

    &-year {
      width: calc(100% / 4);
      text-align: center;
      font: 1rem/3.3333rem $font-first;
      color: rgba($color-first, 0.5);
    }
  }
}
