include ../text-field/text-field
include ../heading/heading
include ../button/button

mixin calendar(options)
  -
    const {
      textFrom = '',
      textTo = '',
      hasTwoInputs = false, 
      isOpened = false
    } = options || {}

    const {
      textFields,
      buttons
    } = require('@components/calendar/data.json')

    const openedClass = isOpened && 'calendar_opened' 
    const classes = [openedClass]

  .calendar.js-calendar(class=classes)
    if !isOpened
      .calendar__inputs.js-calendar__inputs
        if hasTwoInputs
          .calendar__input
            +heading({text: textFrom, variant: 'h4'})
            +text-field(Object.assign({name: 'date-from', isMasked: true, maskedType:'date', isDropdown: true, inputmode: 'numeric'}, textFields.single))
          .calendar__input
            +heading({text: textTo, variant: 'h4'})
            +text-field(Object.assign({name: 'date-to', isMasked: true, maskedType:'date', isDropdown: true, inputmode: 'numeric'}, textFields.single))
        else
          .calendar__input
            +heading({text: textFrom, variant: 'h4'})
            +text-field(Object.assign({name: 'date', isMasked: true, maskedType:'dates', isDropdown: true, inputmode: 'numeric'}, textFields.double))
    .calendar__menu.js-calendar__menu
      .calendar__datepicker.js-calendar__datepicker
      .calendar__buttons
        .calendar__clear-button.js-calendar__clear-button
          +button(Object.assign({theme: 'link', type: 'button'}, buttons.clear ))
        .calendar__apply-button.js-calendar__apply-button
          +button(Object.assign({theme: 'link', type: 'button'}, buttons.apply ))
