include ../calendar-menu/calendar-menu
include ../text-field/text-field
include ../title/title

mixin calendar(options)
  -
    const {
      textFrom = '',
      textTo = '',
      hasTwoInputs = false
    } = options || {}

    const {
      textFields,
    } = require('Components/calendar/data.json')

  .calendar
    +calendar-menu
      if hasTwoInputs
        .calendar__input
          +title({text: textFrom, type: 'h4'})
          +text-field(Object.assign({name: 'dateFrom', isMasked: true, maskedType:'single', isDropdown: true, inputmode: 'numeric'}, textFields.single))
        .calendar__input
          +title({text: textTo, type: 'h4'})
          +text-field(Object.assign({name: 'dateTo', isMasked: true, maskedType:'single', isDropdown: true, inputmode: 'numeric'}, textFields.single))
      else
        .calendar__input
          +title({text: textFrom, type: 'h4'})
          +text-field(Object.assign({name: 'date', isMasked: true, maskedType:'double', isDropdown: true, inputmode: 'numeric'}, textFields.double))
