include ../button/button

mixin calendar(options)
  -
    const {
      isOpened = false
    } = options || {}

    const {buttons} = require('Components/calendar/data.json')

    classes = isOpened ? 'calendar_opened' : '' 

  div.calendar.js-calendar(class=classes)
    .calendar__inputs.js-calendar__inputs
      block
    .calendar__menu.js-calendar__menu
      .calendar__datepicker.js-calendar__datepicker
      .calendar__buttons
        .calendar__button-clear.js-calendar__button-clear
          +button(buttons.clear)
        .calendar__button-apply.js-calendar__button-apply
          +button(buttons.apply)
