mixin heading(options)
  -
    const {
      text = '',
      variant = '',
      hint = '',
    } = options || {}

    const getTag = (variant) => {
      return variant
    }

    const tag = getTag(variant)
    const tagClass = `heading__heading heading__heading_type_${variant}`
    const classes = [tagClass]

  .heading
    #{tag}(class=classes)= text
    if hint !== ''
      span.heading__hint= hint
