include ../typography/typography

mixin heading(options)
  -
    const {
      text = '',
      variant = '',
      hint = '',
    } = options || {}

  .heading
    +typography({text, variant})
    span.heading__hint= hint
