@use '@style/constants/colors';

.heading {
  display: flex;
  justify-content: space-between;
  word-break: break-word;
  padding-bottom: 5px;

  &__hint {
    line-height: 15px;
    text-transform: uppercase;
    color: rgb(colors.$first, 0.5);
    float: right;
  }
}
