extends ../../templates/ui-kit

include ../../components/header/header
include ../../components/footer/footer

block title 
  | Headers and footers

block main
  +layout__column({gap: 40})
    +header 
    +header({username: 'Юлий Цезарь'})
    +footer
    +footer({mobile: true})
