extends ../base/base

include ../../components/layout/layout
include ../../components/header-for-ui-kit/header-for-ui-kit

block title 
  | Headers and footers


block header 
  +header-for-ui-kit

block main
  +header 
  +header
  +footer
  +footer({mobile: true})

block footer