extends ../../templates/ui-kit

include ../../components/header/header
include ../../components/footer/footer

block title 
  | Headers and footers

  //- - var fon = true

block main
  +header 
  +header
  +footer
  +footer({mobile: true})


