extends ../../templates/ui-kit/ui-kit

include ../../components/header/header
include ../../components/footer/footer
include ../../components/wrapper/wrapper
include ../../components/row/row

block var
  -
    var withThemeGray = true

block title
  | Headers and footers

block main
  +header 
  +wrapper({marginTop: 40})
    +header({username: 'Юлий Цезарь'})
  +wrapper({marginTop: 40})
    +footer
  +wrapper({marginTop: 40, marginBottom: 140})
    +row({justifyContent: 'center'})
      +wrapper({width: 768})
        +footer({mobile: true})
