@import "../../style/variables.scss";

.header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  width: 100%;

  &__burger-button {
    display: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 20px;
  }

  &__nav-item {
    list-style: none;
  }

  &__nav-link {
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 87px 196px;
    gap: 20px;
  }
}
