@import "../../style/variables.scss";

.header {
  width: 100%;
  box-shadow: 0 0.8333rem 1.6667rem rgba(31, 32, 65, 0.05);
  background-color: white;
  padding: 1.25rem 0;

  &__container {
    @include media-breakpoint-down($lg) {
      padding: 0 1.6667rem;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    display: inline-block;
    margin-right: auto;
  }

  &__burger-button {
    display: none;
    background-color: white;
    border: none;
    font-size: 2.5rem;

    @include media-breakpoint-down($md) {
      display: inline;
    }
  }

  &__nav {
    display: flex;
    gap: 1.6667rem;
    margin-right: 1.6667rem;

    @include media-breakpoint-down($md) {
      display: none;
      width: 100%;
      align-items: center;
      flex-direction: column;
      margin: 1.6667rem 0 1.6667rem 0;
    }

    &_opened {
      display: flex;
    }
  }

  &__nav-item {
    list-style: none;
  }

  &__nav-button {
    background-color: white;
    border: none;
    cursor: pointer;
  }

  &__button-content {
    font-family: $font-first;
    display: flex;
    font-size: 1.1667rem;
    line-height: 1.4167rem;
    color: $color-first-50;

    &::after {
      content: "keyboard_arrow_down";
      font-family: "Material Icons";
      font-size: 2rem;
    }

    &:hover {
      color: $color-first-75;
    }
  }

  &__nav-link {
    text-decoration: none;
    align-items: center;
    color: $color-first-50;
    font-size: 1.1667rem;
    line-height: 1.4167rem;

    &_active {
      font-weight: bold;
      color: $color-first-75;
    }

    &:hover {
      color: $color-first-75;
    }
  }

  &__login {
    display: flex;
    gap: 20px;

    @include media-breakpoint-down($md) {
      width: 100%;
      display: none;
    }

    &_opened {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      border-top: 1px solid rgba(31, 32, 65, 0.1);
    }
  }

  &__username {
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    padding: 6px 0 6px 20px;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    text-align: center;

    @include media-breakpoint-down($md) {
      width: 100%;
      border: none;
      padding: 0;
    }
  }
}
