@import '../../style/variables.scss';

.header {
  box-shadow: 0px 10px 20px rgba($color-first, 0.05);
  background-color: white;
  padding: 15px 0;

  &__mobile-navigation-opened {
    & .header__login {
      display: flex;
    }

    & .header__navigation {
      display: flex;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    display: inline-block;
    margin-right: auto;
  }

  &__burger-button {
    display: none;
    background-color: white;
    border: none;
    font-size: 30px;

    @include media-breakpoint-down($md) {
      display: inline;
    }
  }

  &__navigation {
    display: flex;
    gap: 21px;
    margin-right: 20px;

    @include media-breakpoint-down($md) {
      display: none;
      width: 100%;
      align-items: center;
      flex-direction: column;
      margin: 20px 0;
    }
  }

  &__navigation-item {
    list-style: none;
  }

  &__navigation-button {
    background-color: white;
    border: none;
    cursor: pointer;
  }

  &__button-content {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    color: rgba($color-first, 0.5);

    &::after {
      content: 'keyboard_arrow_down';
      font-family: 'Material Icons';
      font-size: 24px;
    }

    &:hover {
      color: rgba($color-first, 0.75);
    }
  }

  &__sub-navigation-list {
    position: absolute;
    display: none;

    @include media-breakpoint-down($md) {
      margin-top: 10px;
      position: static;
    }

    &_opened {
      display: block;
    }
  }

  &__sub-navigation-list {
    list-style: none;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba($color-first, 0.5);
    border-radius: 4px;
  }

  &__navigation-link {
    text-decoration: none;
    align-items: center;
    color: rgba($color-first, 0.5);
    font-size: 14px;
    line-height: 17px;

    &_active {
      font-weight: bold;
      color: rgba($color-first, 0.75);
    }

    &:hover {
      color: rgba($color-first, 0.75);
    }
  }

  &__login {
    display: flex;
    gap: 20px;

    @include media-breakpoint-down($md) {
      width: 100%;
      display: none;
      padding-top: 20px;
      border-top: 1px solid rgba($color-first, 0.1);
      flex-direction: column;
      align-items: center;
    }
  }

  &__username {
    border-left: 1px solid rgba($color-first, 0.1);
    padding: 6px 0 6px 20px;
    font-size: 14px;
    line-height: 17px;
    color: rgba($color-first, 0.5);
    text-align: center;

    @include media-breakpoint-down($md) {
      width: 100%;
      border: none;
      padding: 0;
    }
  }
}
