include ../../components/logo/logo
include ../../components/layout/layout
include ../../components/button/button

mixin header(options)
  -
    const { 
      navItems = [
        {link: '/change-it', text: 'О нас'}, 
        {text: 'Услуги', isButton: true},
        {link: '/change-it', text: 'Вакансии'},
        {link: '/change-it', text: 'Новости'},
        {text: 'Соглашения', isButton: true}
      ],
      active = null,
      username = ''
    } = options || {}

  .header.js-header 
    +layout__box({isContainer: true, mix: 'header__container'})
      .header__wrapper
        .header__logo
          +logo
        button.header__burger-button.js-header__burger-button.material-icons menu
        ul.header__nav.js-header__nav
          each navItem, index in navItems
            li.header__nav-item
              if navItem.isButton
                button.header__nav-button
                  span.header__button-content= navItem.text
              else
                a.header__nav-link(
                  href=navItem.link,
                  class=index === active ? 'header__nav-link_active' : ''
                )= navItem.text
        .header__login.js-header__login
          if username !== ''
            span.header__username= username
          else
            +button({ type: 'outline', link: '/auth', text: 'войти', size: 'low' })
            +button({ link: '/auth', text: 'зарегистрироваться', size: 'low' })
