@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/montserrat-v15-latin-cyrillic-regular.woff2') format('woff2'),
    url('Fonts/montserrat-v15-latin-cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('Fonts/montserrat-v15-latin-cyrillic-700.woff2') format('woff2'),
    url('Fonts/montserrat-v15-latin-cyrillic-700.woff') format('woff');
}
