@use './constants/font';
@use './constants/colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: font.$first;
  font-size: font.$size;
  color: colors.$first;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
