@import "./font.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-first;
  font-size: $font-size + px;
  color: #1f2041;
}
