@import "./font.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  // font-family: $font-first;
  // font-style: normal;
  // font-weight: 400;
  font-size: 16px;
}
