// Screen width
$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

// Color
$color-first: #1f2041;
$color-first-75: rgba(31, 32, 65, 0.75);
$color-first-50: rgba(31, 32, 65, 0.5);
$color-first-25: rgba(31, 32, 65, 0.25);
$color-first-5: rgba(31, 32, 65, 0.05);
$color-second: #bc9cff;
$color-third: #6fcf97;

// Font

$font-first: "Montserrat";
$font-size: 12;

// Mixin

@mixin media-breakpoint-up($width) {
  @media (min-width: $width + 1) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: $min-width + 1) and (max-width: $max-width) {
    @content;
  }
}

@mixin column($screen-width, $count) {
  flex-shrink: 0;
  // padding-right: 1rem;
  // padding-bottom: 1rem;
  // padding-left: 1rem;

  @include media-breakpoint-up($screen-width) {
    flex-basis: (100% / 12 * $count);
  }
}
