// Color
$color-first: #1f2041;
$color-first-75: rgba(31, 32, 65, 0.75);
$color-first-50: rgba(31, 32, 65, 0.5);
$color-first-25: rgba(31, 32, 65, 0.25);
$color-first-5: rgba(31, 32, 65, 0.05);
$color-second: #bc9cff;
$color-third: #6fcf97;

// Font

$font-first: "Montserrat";

// Mixin

@mixin media-laptop() {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin media-tablet() {
  @media (max-width: 768px) {
    @content;
  }
}

