mixin gallery(options)
  -
    const {
      images = [
        {src: '', alt: ''}, 
      ]
    } = options || {}

  .gallery
    each image, index in images 
      -
        const imageClass = 'gallery__img'
        const imageMainClass = index === 0 && 'gallery__img_main'
        const classes = [imageClass, imageMainClass]

      if index < 3
        img(
          class=classes,
          src=require(`@images/content/${image.src}.png`),
          alt=image.alt
        )
