@use '@style/constants/colors';

$left-column-width: 981;
$right-column-width: 459;
$container-width: 1440;
$left-column-percent-width: $left-column-width / $container-width * 100%;
$right-column-percent-width: $right-column-width / $container-width * 100%;

.gallery {
  display: grid;
  grid-template-columns: $left-column-percent-width $right-column-percent-width;

  &__img {
    display: flex;
    width: 100%;

    &_main {
      grid-column: span 1;
      grid-row: span 2;
    }
  }
}
