@import "../../style/variables.scss";

.gallery {
  width: 100%;

  &__img-main {
    width: 981 / 1440 * 100%;
    float: left;
  }

  &__sub {
    float: left;
    width: 459 / 1440 * 100%;
    height: 50%;
  }
}
