include ../button/button

mixin question-form-about-auth(options)
  -
    const {
      questionText,
      buttonLink,
      buttonText
    } = options || {}

  .question-form-about-auth
    p.question-form-about-auth__question= questionText
    +button({ theme: 'outline', isLink: true, link: buttonLink, text: buttonText })