@import '../../style/variables.scss';

.question-form-about-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__question {
    font: 14px/18px $font-first;
    color: black;
  }
}
