@import 'Style/variables';

.question-form-about-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__question {
    font-size: 14px;
    line-height: 18px;
    color: black;
  }
}
