mixin palette(options)
  -
    const { 
      items = [
        { color: "", colorName: "", colorHash: "" },
      ]
    } = options || {}

  .palette
    each item in items
      .palette__item(class='palette__item_color-' + item.color)
        p.palette__text 
          strong #{item.colorName}<br>
          | #{item.colorHash}
