mixin palette(options)
  -
    const { 
      items = [
        { color: '', colorName: '', colorHash: '' },
      ]
    } = options || {}

  .palette
    each item in items
      -
        const colorClass = item.color && `palette__item_color_${item.color}`
        const classes = [colorClass]

      .palette__item(class=classes)
        p.palette__text
          strong= item.colorName
          <br>
          = item.colorHash
