mixin palette

  -
    var items = [
      { color: "dark-shade-100", colorName: "Dark Shade 100%", colorHash: "#1F2041" },
      { color: "dark-shade-75", colorName: "Dark Shade 75%", colorHash: "#1F2041" },
      { color: "dark-shade-50", colorName: "Dark Shade 50%", colorHash: "#1F2041" },
      { color: "dark-shade-25", colorName: "Dark Shade 25%", colorHash: "#1F2041" },
      { color: "dark-shade-5", colorName: "Dark Shade 5%", colorHash: "#1F2041" },
      { color: "purple", colorName: "Purple", colorHash: "#BC9CFF" },
      { color: "green", colorName: "Green", colorHash: "#6FCF97" },
    ]

  .palette
    each item in items
      .palette__item(class=`palette__item_${item.color}`)
        span.palette__color-name= item.colorName
        span.palette__color-hash= item.colorHash
