@import '../../style/variables.scss';

.palette {
  display: flex;
  gap: 34px;
  flex-direction: column;
  padding: 7px 0;

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 110px;

    &::before {
      display: block;
      content: '';
      width: 70px;
      height: 70px;
      position: absolute;
      left: 0;
      top: -7px;
      border-radius: 6px;
    }

    &_dark-shade-100::before {
      background: $color-first;
    }

    &_dark-shade-75::before {
      background: rgba($color-first, 0.75);
    }

    &_dark-shade-50::before {
      background: rgba($color-first, 0.5);
    }

    &_dark-shade-25::before {
      background: rgba($color-first, 0.25);
    }

    &_dark-shade-5::before {
      background: rgba($color-first, 0.05);
    }

    &_purple::before {
      background: $color-second;
    }

    &_green::before {
      background: $color-third;
    }
  }

  &__color-name {
    font: bold 19px/28px $font-first;
    color: $color-first;
  }

  &__color-hash {
    font: 19px/28px $font-first;
    color: $color-first;
  }
}
