@use '@style/constants/colors';

.palette {
  display: flex;
  gap: 34px;
  flex-direction: column;
  padding: 7px 0;

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 110px;
    word-break: break-word;

    &::before {
      display: block;
      content: '';
      width: 70px;
      height: 70px;
      position: absolute;
      left: 0;
      top: -7px;
      border-radius: 6px;
    }

    &_color {
      &_dark-shade-100::before {
        background: colors.$first;
      }

      &_dark-shade-75::before {
        background: rgb(colors.$first, 0.75);
      }

      &_dark-shade-50::before {
        background: rgb(colors.$first, 0.5);
      }

      &_dark-shade-25::before {
        background: rgb(colors.$first, 0.25);
      }

      &_dark-shade-5::before {
        background: rgb(colors.$first, 0.05);
      }

      &_purple::before {
        background: colors.$second;
      }

      &_green::before {
        background: colors.$third;
      }
    }
  }

  &__text {
    margin: 0;
    font-size: 19px;
    line-height: 28px;
    color: colors.$first;
  }
}
