mixin header-for-ui-kit(options)

  header.header-for-ui-kit
    a.header-for-ui-kit__link(href="./index.html") 
      img.header-for-ui-kit__img(
        src=require(`../../components/header-for-ui-kit/img/logo.svg`).default 
        alt="Toxin"
        width="48px"
        height="48px"
      )