@import "../../style/variables.scss";

.bullet-list {
  display: grid;
  gap: 0.8333rem;

  &__item {
    position: relative;
    font-size: 1.1667rem;
    line-height: 2rem;
    padding-left: 1.75rem;
    color: $color-first-75;
    list-style-type: none;

    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 0.8333rem;
      height: 0.8333rem;
      background: $color-first-25;
      border-radius: 50%;
      left: 0;
      top: 0.5rem;
    }
  }
}
