@use 'Style/constants/colors';

.bullet-list {
  display: grid;
  gap: 10px;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
    color: rgba(colors.$first, 0.75);
    list-style-type: none;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: rgba(colors.$first, 0.25);
      border-radius: 50%;
      left: 0;
      top: 6px;
    }
  }
}
