@import '../../style/variables.scss';

.bullet-list {
  display: grid;
  gap: 10px;

  &__item {
    position: relative;
    font: 14px/24px $font-first;
    padding-left: 20px;
    color: rgba($color-first, 0.75);
    list-style-type: none;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: rgba($color-first, 0.25);
      border-radius: 50%;
      left: 0;
      top: 6px;
    }
  }
}
