extends ../../templates/website-pages/website-pages

include ../../components/authorization/authorization

block var
  -
    const description = 'Вход в аккаунт';
    const keywords = 'отель, вход, уют';

block title
  | Sing in

block main
  .sing-in
    .sing-in__form
      +authorization
