@use '@style/constants/colors';

.sing-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 702px;
  background: url('@images/content/sing-in-background.jpg') no-repeat;
  background-size: cover;

  &__form {
    padding: 0 10px;
    flex-basis: 400px;
  }
}
