extends ../../templates/ui-kit/ui-kit

include ../../components/palette/palette
include ../../components/font-types/font-types
include ../../components/container/container
include ../../components/row/row

block title
  | Colors and type

block main
  +container
    +row
      +palette
      +font-types
