extends ../../templates/ui-kit/ui-kit

include ../../components/container/container
include ../../components/palette/palette
include ../../components/font-types/font-types

block title
  | Colors and type

block main
  -
    const {
      pallet, 
      fontType
    } = require('./data.json')

  .colors-and-type
    +container
      .colors-and-type__row
        .colors-and-type__palette
          +palette(pallet)
        .colors-and-type__font-types
          +font-types(fontType)
