@import "../../style/variables.scss";

.footer {
  background-color: white;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &_mobile {
    & .footer__main {
      grid-template-columns: auto;
      grid-template-areas: "about";
      justify-content: center;
      padding: 10rem 0 0 0;
    }

    & .footer__about-text {
      display: none;
    }

    & .footer__nav {
      display: none;
    }

    & .footer__subscription {
      display: none;
    }

    & .footer__line {
      border: none;
      padding-bottom: 10rem;
    }

    & .footer__sub {
      justify-content: center;
      flex-direction: column;
      gap: 2.0833rem;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 21.6667rem auto 21.6667rem;
    grid-template-areas: "about nav subscription";
    gap: 3.3333rem;
    padding: 8.6667rem 0 8.3333rem 0;

    @include media-breakpoint-down($lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "about subscription"
        "nav nav";
    }

    @include media-breakpoint-down($sm) {
      grid-template-columns: auto;
      grid-template-areas: "about";
      justify-content: center;
      padding: 10rem 0 0 0;
    }
  }

  &__about {
    grid-area: about;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 1.4167rem;
  }

  &__text {
    font-size: 1.1667rem;
    line-height: 2rem;
    color: rgba(31, 32, 65, 0.75);
  }

  &__about-text {
    @include media-breakpoint-down($sm) {
      display: none;
    }
  }

  &__nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.3333rem;

    @include media-breakpoint-down($lg) {
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
    }

    @include media-breakpoint-down($sm) {
      display: none;
    }
  }

  &__list {
    display: grid;
    gap: 1.6667rem;
  }

  &__list-item {
    list-style: none;
  }

  &__list-link {
    font-size: 1.1667rem;
    line-height: 1.4167rem;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
  }

  &__header {
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #1f2041;
    margin-bottom: 1.6667rem;
    padding-top: 0.25rem;
  }

  &__subscription {
    grid-area: subscription;

    @include media-breakpoint-down($sm) {
      display: none;
    }
  }

  &__text {
    font-size: 1.1667rem;
    line-height: 2rem;
    color: rgba(31, 32, 65, 0.75);
  }

  &__input {
    margin-top: 1.75rem;
  }

  &__line {
    border-top: solid 1px #f4f4f6;

    @include media-breakpoint-down($sm) {
      border: none;
      padding-bottom: 10rem;
    }
  }

  &__sub {
    padding: 1.9167rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down($sm) {
      justify-content: center;
      flex-direction: column;
      gap: 2.0833rem;
    }
  }

  &__text-copyright {
    text-align: center;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 1.8333rem;
  }
}
