@import "../../style/variables.scss";

.footer {
  &__container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__main {
    display: grid;
    grid-template-columns: 260px auto 260px;
    grid-template-areas: "about nav subscription";
    gap: 40px;
    padding: 104px 0 100px 0;

    @include media-laptop {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "about subscription"
        "nav nav";
    }

    @include media-tablet {
      grid-template-columns: auto;
      grid-template-areas: "about";
      justify-content: center;
      padding: 120px 0 0 0;
    }

    &_mobile {
      grid-template-columns: auto;
      grid-template-areas: "about";
      justify-content: center;
      padding: 120px 0 0 0;
    }
  }

  &__about {
    grid-area: about;
  }

  &__logo {
    margin-bottom: 17px;
  }

  &__about-text {
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);

    @include media-tablet {
      display: none;
    }

    &_mobile {
      display: none;
    }
  }

  &__nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include media-laptop {
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
    }

    @include media-tablet {
      display: none;
    }

    &_mobile {
      display: none;
    }
  }

  &__list {
    display: grid;
    gap: 19px;
  }

  &__list-item {
    list-style: none;
  }

  &__list-link {
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
  }

  &__header {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
    margin-bottom: 20px;
    padding-top: 3px;
  }

  &__subscription {
    grid-area: subscription;

    @include media-tablet {
      display: none;
    }

    &_mobile {
      display: none;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__input {
    margin-top: 21px;
  }

  &__sub {
    padding: 23px 0;
    border-top: solid 1px #f4f4f6;

    @include media-tablet {
      border: none;
      padding: 0 0 120px 0;
    }

    &_mobile {
      border: none;
      padding: 0 0 120px 0;
    }
  }

  &__sub-container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-tablet {
      justify-content: center;
      flex-direction: column;
      gap: 25px;
    }

    &_mobile {
      justify-content: center;
      flex-direction: column;
      gap: 25px;
    }
  }

  &__copyright {
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
    text-align: center;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 22px;
  }
}
