@import '../../style/variables.scss';

.room-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__number-signs {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $color-first;
  }

  &__number-value {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $color-first;

    &_type-link {
      font-size: 19px;
      line-height: 23px;
      font-weight: 700;
      text-decoration: none;
    }
  }

  &__lux {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-second;
  }

  &__price-number {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: rgba($color-first, 0.5);
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;
    color: rgba($color-first, 0.5);
  }
}
