@import "../../style/variables.scss";

.room-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__number-signs {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1f2041;
  }

  &__number-value {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1f2041;

    &_type-link {
      font-size: 19px;
      line-height: 23px;
      text-decoration: none;
    }
  }

  &__lux {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
  }

  &__price-number {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
  }
}
