mixin room-info({number=888, isLux=false, price=9990})
  
  .room-info
    .room-info__number
      span.room-info__number-signs №
      span.room-info__number-value= number
      if isLux
        span.room-info__lux люкс
    .room-info__price
      span.room-info__price-number= price + '₽'
      span.room-info__price-text в сутки
