mixin toggle(options)
  -
    const {
      isChecked = false
    } = options || {}

    const {
      text,
    } = require('Components/toggle/data.json')

  label.toggle
    input.toggle__checkbox(type="checkbox", checked=isChecked) 
    span.toggle__text= text
