mixin toggle(options)
  -
    const {
      isChecked = false
    } = options || {}

  label.toggle
    input.toggle__checkbox(type="checkbox", checked=isChecked) 
    span.toggle__text Получать спецпредложения
