@use 'Style/constants/colors';

.toggle {
  $root: &;

  &__text {
    font-size: 14px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: rgba(colors.$first, 0.75);
    padding-left: 50px;
    word-break: break-word;

    &::before {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid rgba(colors.$first, 0.25);
      border-radius: 10px;
      width: 38px;
      height: 18px;
      top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      background: rgba(colors.$first, 0.25);
      border-radius: 10px;
      left: 4px;
      top: 4px;
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;

    &:focus + #{$root}__text {
      &::before {
        box-shadow: 0 0 10px rgba(colors.$first, 30%);
      }
    }

    &:checked + #{$root}__text {
      &::before {
        border-color: #bc9cff;
      }

      &::after {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        left: 24px;
      }
    }
  }
}
