@import '../../style/variables.scss';

.toggle {
  &__text {
    font-size: 14px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: rgba($color-first, 0.75);
    padding-left: 50px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid rgba($color-first, 0.25);
      border-radius: 10px;
      width: 38px;
      height: 18px;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      background: rgba($color-first, 0.25);
      border-radius: 10px;
      left: 4px;
      top: 3px;
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
  }

  &__checkbox:checked + &__text {
    &:before {
      border-color: #bc9cff;
    }

    &:after {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      left: 24px;
    }
  }
}
