extends ../../templates/ui-kit

include ../../components/auth/auth
include ../../components/calendar/calendar

block title 
  | Cards

block main
  +layout__container
    +layout__row 
      +layout__column({basis: 380, grow: '0', gap: 40})
        +auth({isRegistration: true})
      +layout__column({basis: 380, grow: '0', gap: 40})
        +auth
      +layout__column({basis: 320, grow: '0', gap: 40})
        +calendar
