extends ../../templates/ui-kit/ui-kit

include ../../components/find-room/find-room
include ../../components/registration-card/registration-card
include ../../components/room-booking/room-booking
include ../../components/authorization/authorization
include ../../components/calendar/calendar
include ../../components/room-card/room-card

block var
  - const withThemeGray = true

block title
  | Cards

block main
  - const {calendar, roomCards} = require('./data.json')

  .cards   
    .cards__column
      +find-room
      +registration-card
    .cards__column
      +room-booking
      +authorization
    .cards__column.cards__column_size-slim
      +calendar(calendar)
      each roomCard in roomCards
        .cards__room-card
          +room-card(roomCard) 
