extends ../../templates/ui-kit

include ../../components/calendar/calendar
include ../../components/room-booking/room-booking
include ../../components/find-room/find-room
include ../../components/room-card/room-card
include ../../components/registration-card/registration-card
include ../../components/authorization/authorization

block var
  -
    var withThemeGray = true

block title
  | Cards

block main
  +layout__box({isContainer:true})
    +layout__box({pt: 10})
      +layout__box({basis: 380, direction: 'column'})
        +find-room
        +layout__box({mt: 40, pb: 200})
          +registration-card
      +layout__box({basis: 380, direction: 'column', mr: 40, ml: 40})
        +room-booking
        +layout__box({mt: 40})
          +authorization
      +layout__box({basis: 320, direction: 'column'})
        +calendar
        +layout__box({mt: 40})
          +room-card 
        +layout__box({mt: 40})
          +room-card 
