extends ../../templates/ui-kit

include ../../components/card/card
include ../../components/button/button


block title 
  | Cards

block main
    +card({type: 'login'})
    +card({type: 'registration'})
    +card({type: 'find-room'})
