extends ../../templates/ui-kit/ui-kit

include ../../components/calendar/calendar
include ../../components/room-booking/room-booking
include ../../components/find-room/find-room
include ../../components/room-card/room-card
include ../../components/registration-card/registration-card
include ../../components/authorization/authorization
include ../../components/container/container
include ../../components/wrapper/wrapper
include ../../components/row/row

block var
  -
    var withThemeGray = true

block title
  | Cards

block main
  +container
    +wrapper({paddingTop: 10, paddingBottom: 140})
      +row({gap: 40})
        +wrapper({basis: 380})
          +wrapper({marginBottom: 40})
            +find-room
          +registration-card
        +wrapper({basis: 380})
          +wrapper({marginBottom: 40})
            +room-booking
          +authorization
        +wrapper({basis: 320})
          +wrapper({marginBottom: 40})
            +calendar({isOpened: true})
          +wrapper({width: 270})
            +wrapper({marginBottom: 40})
              +room-card({
                images: ["room-image-1", "room-image-2", "room-image-3", "room-image-4"],
                currentImg: 0,
                number: 888,
                link: "/change-it",
                isLux: true,
                price: "9 990",
                quantity: 5,
                reviews: 145
              }) 
            +room-card({
                images: ["room-image-2", "room-image-2", "room-image-3", "room-image-4"],
                currentImg: 0,
                number: 840,
                link: "/change-it",
                price: "9 990",
                quantity: 4,
                reviews: 65
              }) 
