mixin text-field(options)
  -
    const {
      isHovered = false, 
      isMasked = false, 
      type = 'text', 
      value = '', 
      name = '', 
      placeholder = 'text', 
      isSubscription = false
    } = options || {}

    var classes = ''
    classes += isHovered ? ' text-field_hovered' : '' 
    classes += isMasked ? ' text-field_masked' : '' 

  .text-field(class=classes)
    input.text-field__input.js-text-field__input(
      type = type,
      value = value,
      name = name,
      placeholder = placeholder
    )
    if isSubscription
      button.text-field__subscription-button(type="submit") 
