@import "../../style/variables.scss";

.text-field {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  &__content {
    position: relative;
  }

  &__input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 100%;
    outline: none;
    padding: 0 44px 0 15px;
    color: rgba(31, 32, 65, 0.25);

    &::placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &_hovered,
    &:hover,
    &:focus {
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.75);
    }
  }
}
