include ../svg/theme/gradient/gradient

mixin text-field(options)
  -
    const {
      value, 
      name, 
      placeholder, 
      maskedType = 'none',
      inputmode,
      isHovered = false, 
      type = 'text', 
      isSubscription = false,
      isDropdown = false,
      isReadonly = false,
    } = options || {}

    const hoverClass = isHovered && 'text-field_hovered'
    const textDarkClass = isDropdown && 'text-field_text_dark'
    const classes = [hoverClass, textDarkClass]

    const inputAttributes = {
      type,
      value,
      name,
      placeholder,
      inputmode,
      'data-masked-type': maskedType,
      readonly: isReadonly,
      tabindex: isReadonly ? '-1' : '0',
    }

    const buttonAttributes = {
      type: 'button',
      tabindex: isReadonly ? '0' : '-1'
    }

  .text-field(class=classes)
    input.text-field__input.js-text-field__input&attributes(inputAttributes)
    if isSubscription
      button.text-field__subscription-button(type="submit")
        -
          const {nanoid} = require('nanoid/non-secure')
          const SVGgradientID = `id-${nanoid()}`
        +gradient({id: SVGgradientID, startColor: '#BC9CFF', endColor: '#8BA4F9'})
        svg.text-field__subscription-icon(fill=`url(#${SVGgradientID})`)
          include ../../images/decorative/arrow.svg
    if isDropdown
      button.text-field__dropdown-button&attributes(buttonAttributes)
        include ../../images/decorative/expand-more.svg
