@import '../../style/variables.scss';

.text-field {
  position: relative;

  &__input {
    font-size: 14px;
    line-height: 42px;
    border: 1px solid rgba($color-first, 0.25);
    border-radius: 4px;
    width: 100%;
    outline: none;
    padding: 0 44px 0 15px;
    color: rgba($color-first, 0.25);

    &::placeholder {
      color: rgba($color-first, 0.25);
    }

    &:hover,
    &:focus {
      border: 1px solid rgba($color-first, 0.5);
      color: rgba($color-first, 0.75);
    }
  }

  &__input &_hovered {
    border: 1px solid rgba($color-first, 0.5);
    color: rgba($color-first, 0.75);
  }

  &__subscription-button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 44px;
    border: none;
    background: no-repeat rgba(0, 0, 0, 0) center center;
    background-image: url(./img/arrow.svg);
    cursor: pointer;
  }
}
