@use '@style/constants/colors';
@use '@style/constants/font';

.text-field {
  $root: &;

  position: relative;

  &__input {
    font-family: font.$first;
    font-size: 14px;
    line-height: 42px;
    border: 1px solid rgba(colors.$first, 0.25);
    border-radius: 4px;
    width: 100%;
    outline: none;
    padding: 0 44px 0 15px;
    color: rgba(colors.$first, 0.25);

    &::placeholder {
      color: rgba(colors.$first, 0.25);
    }

    &:hover,
    &:focus,
    &[data-focus='true'] {
      border: 1px solid rgba(colors.$first, 0.5);
      color: rgba(colors.$first, 0.75);
    }

    &[data-opened='true'] {
      border-color: rgba(colors.$first, 0.5);
      outline: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    #{$root}_hovered & {
      border: 1px solid rgba(colors.$first, 0.5);
      color: rgba(colors.$first, 0.75);
    }
  }

  &__subscription-button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 44px;
    border: none;
    background: no-repeat center center;
    background-image: url('@images/decorative/color-arrow-forward.svg');
    cursor: pointer;
  }

  &__dropdown-button {
    position: absolute;
    height: 100%;
    width: 44px;
    top: 0;
    right: 0;
    cursor: pointer;
    background: no-repeat url('@images/decorative/toggle-button.svg') center
      center;
    border: none;
  }
}
