include ../../components/layout/layout
include ../../components/header/header
include ../../components/footer/footer

- const {headers, footers} = require('../../templates/website-pages/data.json')

doctype html
html(lang="RU")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    link(rel="icon" href="./favicon/favicon.ico" type="image/icon")
    title
      block title
  body
    +layout
      +layout__header
        block header
          +header(headers[0])

      +layout__main
        block main

      +layout__footer
        block footer
          +footer(footers[0])
