@import '../../style/variables.scss';

.links-to-pages {
  &__item {
    list-style: none;
    text-align: center;
  }

  &__link {
    font: bold 24px/36px $font-first;
    color: $color-second;
  }
}
