mixin links-to-pages(options)
  -
    const  {
      links = [
        {link: '', text: ''},
      ]
    } = options || {}

  ul.links-to-pages
    each link in links
      li.links-to-pages__item
        a.links-to-pages__link(href=link.link)= link.text