@import "../../style/variables.scss";

.auth {
  &_registration {
    & .auth__sing-up {
      display: block;
    }

    & .auth__sing-in {
      display: none;
    }
  }

  &__sing-up {
    display: none;
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1f2041;
  }

  &__question {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }

  &__button {
    width: 99px;
  }
}
