include ../../components/card/card
include ../../components/text-field/text-field
include ../../components/button/button
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle/toggle
include ../../components/layout/layout

mixin auth(options)
  if !options
    - options = {}

  -
    var classes = ''
    classes += options.isRegistration ? ' auth_registration' : ''

  +card 
    .auth.js-auth(class=classes)
      .auth__sing-in
        form.auth__form(method="POST" action="/change-it") 
          .auth__title Войти
          +layout__box({mt: 20})
            +text-field({
              hasHeader: true,
              placeholder: 'Email',
              type: "text",
              name: "email"
            })
          +layout__box({mt: 10})
            +text-field({
              placeholder: 'Пароль',
              type: "text"
            })
          +layout__box({mt: 20})
            +button({
              type: 'long',
              text: 'войти',
            })
        +layout__box({mt: 30})
          p.auth__question Нет аккаунта на Toxin?
          .auth__button
            +button({
              type: 'outline',
              isHovered: true,
              text: 'создать'
            })
    
      .auth__sing-up
        form.auth__form(method="POST" action="/change-it") 
          .auth__title Регистрация аккаунта
          +layout__box({mt: 20})
            +text-field({
              placeholder: 'Имя',
              type: "text",
              name: "name"
            })
          +layout__box({mt: 10})
            +text-field({
              placeholder: 'Фамилия',
              type: "text"
            })
          +layout__box({mt: 10})
            +radio-buttons
          +layout__box({mt: 20})
            +text-field({
              title: 'дата рождения',
              hasHeader: true,
              isMasked: true
            })
          +layout__box({mt: 20})
            +text-field({
              title: 'данные для входа в сервис',
              hasHeader: true,
              placeholder: 'Email',
              type: "text"
            })
          +layout__box({mt: 10})
            +text-field({
              placeholder: 'Пароль',
              type: "text"
            })
          +layout__box({mt: 10})
            +toggle
          +layout__box({mt: 20})
            +button({
              type: 'long',
              text: 'перейти к оплате',
            })
        +layout__box({mt: 30})
          p.auth__question Уже есть аккаунт на Toxin
          .auth__button
            +button({
              type: 'outline',
              isHovered: true,
              text: 'войти'
            })
      
