include ../../components/input/input
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle/toggle

mixin registration

  .registration
    .registration__inputs-group
      +input({})
      +input({})
    +radio-buttons
    .registration__birthday
      +input({})
    .registration__inputs-group
      +input({})
      +input({})
    .registration__tooggle
      +toggle
